@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/frontEnd/index.cshtml";
}
<div class="container">
  	<!-- Primary left -->
    <div id="primary-left">
		<!-- Article standard -->
        <div class="article-standard">
            <div class="post-image">
                <img src="~/Content/img/posts/blog_post_3.jpg" alt="Post">
                <ol class="social-links">
                    <li><a href="#"><i class="icon-link"></i></a></li>
                    <li><a href="~/Content/img/posts/blog_post_3.jpg" rel="lightbox"><i class="icon-search"></i></a></li>
                </ol>
            </div>
            <div class="entry-content">
                <h1 class="entry-title"><a href="#">Post with image and text paragraph</a></h1>
                <div class="entry-meta">
                    <div class="review-stars">
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                    </div>
                    <div class="description-em">
                        <span class="by-view-number">132</span>
                        <span class="by-date">1 day ago</span>
                        <span class="by-comments"><a href="#">42</a></span>
                    </div>
                </div>
                <p>Hooking up with Double Identity for another sic collab shoe. The last one already rockin these new ones out and about. Eget nunc nunc.</p>
                <a href="#" class="read-more">Read more</a>
                <span class="format-post"><i class="icon-file-text-alt"></i></span>
            </div>
        </div>
        <!-- Article standard -->
        <div class="article-standard">
        	<div class="post-image">
                <img src="~/Content/img/posts/blog_post_2.jpg" alt="Post">
                <ol class="social-links">
                    <li><a href="#"><i class="icon-link"></i></a></li>
                    <li><a href="~/Content/img/posts/blog_post_2.jpg" rel="lightbox"><i class="icon-search"></i></a></li>
                </ol>
            </div>
            <div class="entry-content">
                <h1 class="entry-title"><a href="#">Post with slider images and text</a></h1>
                <div class="entry-meta">
                    <div class="review-stars">
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                    </div>
                    <div class="description-em">
                        <span class="by-view-number">132</span>
                        <span class="by-date">1 day ago</span>
                        <span class="by-comments"><a href="#">42</a></span>
                    </div>
                </div>
                <p>Hooking up with Double Identity for another sic collab shoe. The last one already rockin these new ones out and about. Eget nunc nunc.</p>
                <a href="#" class="read-more">Read more</a>
                <span class="format-post"><i class="icon-camera"></i></span>
            </div>
        </div>
        <!-- Article standard -->
        <div class="article-standard">
            <div class="post-video">
<iframe width="560" height="315" src="https://www.youtube.com/embed/ejI5qqc8jQo" frameborder="0" allowfullscreen=""></iframe>
			</div>
            <div class="entry-content">
                <h1 class="entry-title"><a href="#">Post with Vimeo video clip and text</a></h1>
                <div class="entry-meta">
                    <div class="review-stars">
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                    </div>
                    <div class="description-em">
                        <span class="by-view-number">132</span>
                        <span class="by-date">1 day ago</span>
                        <span class="by-comments"><a href="#">42</a></span>
                    </div>
                </div>
                <p>Hooking up with Double Identity for another sic collab shoe. The last one already rockin these new ones out and about. Eget nunc nunc.</p>
                <a href="#" class="read-more">Read more</a>
                <span class="format-post"><i class="icon-play-sign"></i></span>
            </div>
        </div>
        <!-- Article standard -->
        <div class="article-standard">
            <div class="post-image">
                <img src="~/Content/img/posts/blog_post_4.jpg" alt="Post">
                <ol class="social-links">
                    <li><a href="#"><i class="icon-link"></i></a></li>
                    <li><a href="~/Content/img/posts/blog_post_4.jpg" rel="lightbox"><i class="icon-search"></i></a></li>
                </ol>
            </div>
            <div class="entry-content">
                <h1 class="entry-title"><a href="#">Post with Soundcloud music</a></h1>
                <div class="entry-meta">
                    <div class="review-stars">
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                    </div>
                    <div class="description-em">
                        <span class="by-view-number">132</span>
                        <span class="by-date">1 day ago</span>
                        <span class="by-comments"><a href="#">42</a></span>
                    </div>
                </div>
                <p>Hooking up with Double Identity for another sic collab shoe. The last one already rockin these new ones out and about. Eget nunc nunc.</p>
                <a href="#" class="read-more">Read more</a>
                <span class="format-post"><i class="icon-music"></i></span>
            </div>
        </div> 
        <!-- Article standard -->
        <div class="article-standard post-with-no-image">
            <div class="entry-content">
                <h1 class="entry-title"><a href="#">Post with no image</a></h1>
                <div class="entry-meta">
                    <div class="review-stars">
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                    </div>
                    <div class="description-em">
                        <span class="by-view-number">132</span>
                        <span class="by-date">1 day ago</span>
                        <span class="by-comments"><a href="#">42</a></span>
                    </div>
                </div>
                <p>Sed quis cursus libero. Nunc eget tortor sagittis, tempor purus in, aliquam velit. Proin rutrum placerat purus, eget scelerisque ipsum sollicitudin sit amet. Suspendisse nec lorem sit amet tellus facilisis porta vel vitae erat. Integer nunc nunc, egestas quis libero malesuada, convallis suscipit magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla id iaculis lectus, eu semper justo. In nec eros a dolor varius congue at sit amet diam. Sed consequat eros sit amet magna commodo, vitae varius diam malesuada.</p>
                <a href="#" class="read-more">Read more</a>
                <span class="format-post"><i class="icon-file-text-alt"></i></span>
            </div>
        </div>     
          
        <!-- Clear floating div -->
        <div class="clear"></div>  
              
        <!-- Pagination -->
        <ul class="pagination">
            <li class="prev disabled">PREV</li>
            <li class="current">1</li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li class="next"><a href="#">NEXT</a></li>
        </ul>
	</div>
    
  	<!-- Sidebar -->
  	<div id="sidebar">
    	<!-- Social profile -->
        <div class="widget no-bg">
            <ul class="widget-social-profile">
            	<li class="twitter">
                <a href="#">
                	<i class="icon-twitter"></i>
                    <strong>29,272</strong>
                    <span>followers</span>
                </a>
                </li>
                <li class="facebook">
                <a href="#">
                	<i class="icon-facebook"></i>
                    <strong>6,072</strong>
                    <span>fans</span>
                </a>
                </li>
                <li class="rss">
                <a href="#">
                	<i class="icon-rss"></i>
                    <strong>112,054</strong>
                    <span>subscribers</span>
                </a>
                </li>
            </ul>
        </div>
        <!-- Slider -->
        <div class="widget">
            <div class="widget-slider">
                <ul>
                    <li><a href="#"><img src="~/Content/img/posts/quad_post_5.jpg" alt="Image" title="This is title caption"></a></li>
                    <li><a href="#"><img src="~/Content/img/posts/quad_post_2.jpg" alt="Image" title="Another caption"></a></li>
                    <li><a href="#"><img src="~/Content/img/posts/quad_post_6.jpg" alt="Image" title="Woow - caption!"></a></li>
                </ul>
            </div>
        </div>
        <!-- Calendar -->
        <table id="wp-calendar">
          <thead class="wp-header">
            <tr>
              <th><a href="#" class="prev-month"></a></th>
              <th colspan="5" class="month-and-year">October 2013</th>
              <th><a href="#" class="next-month"></a></th>
            </tr>
          </thead>
          <thead>
            <tr>
              <th title="Monday">M</th>
              <th title="Tuesday">T</th>
              <th title="Wednesday">W</th>
              <th title="Thursday">T</th>
              <th title="Friday">F</th>
              <th title="Saturday">S</th>
              <th title="Sunday">S</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>&nbsp;</td>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
            </tr>
            <tr>
              <td id="today">7</td>
              <td>8</td>
              <td>9</td>
              <td>10</td>
              <td>11</td>
              <td>12</td>
              <td>13</td>
            </tr>
            <tr>
              <td>14</td>
              <td>15</td>
              <td>16</td>
              <td>17</td>
              <td>18</td>
              <td>19</td>
              <td>20</td>
            </tr>
            <tr>
              <td>21</td>
              <td>22</td>
              <td>23</td>
              <td>24</td>
              <td>25</td>
              <td>26</td>
              <td>27</td>
            </tr>
            <tr>
              <td>28</td>
              <td>29</td>
              <td>30</td>
              <td>31</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
          </tbody>
        </table>
        <!-- Flickr -->
        <!--<div class="widget">
        	<h3 class="widget-title">Flickr <span><a href="http://www.flickr.com" target="_blank"><i class="icon-flickr"></i></a></span></h3>
            <ul class="widget-flickr"></ul>
        </div>-->
        <!-- Latest reviews -->
        <div class="widget">
        	<h3 class="widget-title">Latest reviews</h3>
            <ul class="widget-latest-reviews">
            	<li>
                	<a href="#"><img src="img/sidebar/post_1.jpg" alt="Post"></a>
                	<h3><a href="#">Donec ut consequat nec viverra scelerisqu</a></h3>                    
                    <div class="entry-review">
                        <div class="review-stars">
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-empty"></span>
                        </div>
                    </div>
                </li>
                <li>
                	<a href="#"><img src="~/Content/img/posts/blog_small_3.jpg" alt="Post"></a>
                	<h3><a href="#">Donec ut consequat nec viverra scelerisqu</a></h3>                    
                    <div class="entry-review">
                        <div class="review-stars">
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-empty"></span>
                        </div>
                    </div>
                </li>
                <li>
                	<a href="#"><img src="~/Content/img/posts/travel_small_2.jpg" alt="Post"></a>
                	<h3><a href="#">Donec ut consequat nec viverra scelerisqu</a></h3>                    
                    <div class="entry-review">
                        <div class="review-stars">
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-empty"></span>
                        </div>
                    </div>
                </li>
                <li>
                	<a href="#"><img src="~/Content/img/posts/fashion_small_1.jpg" alt="Post"></a>
                	<h3><a href="#">Donec ut consequat nec viverra scelerisqu</a></h3>                    
                    <div class="entry-review">
                        <div class="review-stars">
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-empty"></span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
