*{
	margin:0;
	padding:0;
}
body{
	background: #f9f9fa;
}
.header{
	background: url(images/banner1.jpg) no-repeat;
}
.hamburger{
    display:none;
}
/*Header infoPage*/
.infoPage{
    padding:20px;
}
.logoPage img{
    margin: 0 auto;
    padding-top: 60px;
}
.logo img{
    width:100px;
    height:40px;
    display:none;
}
@media screen and (max-width: 768px) {
  
    .infoPage{
        display:none;
    }
    
    .logoPage{
    	display:none;
    }
    .hamburger{
        display:block;
    }
    .fix-hambuger {
      
        width: 100%;
    }
  	#fdw{
  		display: none;
  	}
    .logo img{
        display:block;
    }
}
/*============navigate=============*/
@media screen and (max-width: 1024px) {

	#fdw nav ul li {
	display:inline-block;
	padding:10px 10px;
	position:relative;
	}
	#fdw nav ul li a:link, #fdw nav ul li a:visited {
	color:#fff;
	font-family: 'Roboto Slab', serif;
	font-size: 13px;
	text-transform:uppercase;
	display:inline-block;
	position:relative;
}
	
}
#fdw{
	background: rgba(113,82,36,0.5);
	border-top: rgba(34,44,45,0.5);
	margin-top: 170px;
}

#fdw nav ul li {
	display:inline-block;
	padding:20px 18px;
	position:relative;
}
#fdw nav ul li a:link, #fdw nav ul li a:visited {
	color:#fff;
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
	text-transform:uppercase;
	display:inline-block;
	position:relative;
}
#fdw nav ul li a:hover, #fdw nav ul li a:active {
	color:#000000;
	text-decoration:none;
}
#fdw nav ul li span {
	position:absolute;
	right:-12px;
	bottom:6px;
	width:7px;
	height:8px;
	margin:0 0 0 3px;
	float:right;
	display:block;
	background:url(images/nav_arrow.png) no-repeat left -8px;
	font:0/0 a;
}

#fdw nav ul li.current a {
	color:#ffffff;
	font-weight: bold;
	cursor: default;
}
#fdw nav ul li.current a:hover{
	color: #000;
}
#fdw nav ul li.current a span {
	background:url('imagess/nav_arrow.png') no-repeat left 0;
}
#fdw nav ul li.current ul li a {
	cursor:pointer;
}

/*===== sub_menu Style =======*/
#fdw nav ul li ul.sub_menu {
	position:absolute;
	top:60px;
	left:0;
	margin:0;
	padding:0;
	background:#fff;
	border:1px solid #ececec;
	border-top:5px solid #a14305;
	display:none;
	z-index:999999;
    -moz-box-shadow: 0px 6px 7px #121012;
    -webkit-box-shadow: 0px 6px 7px #121012;
    box-shadow: 0px 6px 7px #121012;
}
#fdw nav ul li ul.sub_menu li.arrow_top {
	position:absolute;
	top:-12px;
	left:12px;
	width:13px;
	height:8px;
	display:block;
	border:none;
	background:url(images/arrow_top.png) no-repeat left top;
}
#fdw nav ul li ul.sub_menu li {
	float:none;
	margin:0;
	padding:0;
	border-bottom:1px solid #ececec;
}
#fdw nav ul li ul.sub_menu li a {
	white-space: nowrap;
	width: 150px;
	padding:12px;
	font:13px Arial, tahoma, sans-serif;
	text-transform:capitalize;
	color:#777;
}
#fdw nav ul li ul.sub_menu li a:hover {
	background:#f9f9f9;
	color:#333;
}
/* Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background:#a14305;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}
/*========================*/
.login, .search{
	margin-top: 15px;
	
}
.login a, .search a{
	color: #fff;
	text-decoration: none;
	padding: 4px
}
.search{
	border: 2px solid #715224;
}
.search{
	height: 40px;

}
.search i{
	
	font-size: 30px;
    margin-left: 57px;
}
.login i{
	margin-left: 10px;
}
/*=============content=================*/
.content{
	margin-top: 45px;
	font-family: 'Roboto Slab', serif;
}
.content hr{
	font-size: 5px;
}
/*=============content1================*/
.content .content1{

	float: left;
	padding-right:15px;
	margin-bottom: 30px;
	min-height: 300px;
}
.mt25{
	margin-top: 25px;
}

.content .content1 .post1{
	
	position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden
}
.content .content1 .post1 .bg-gradient{
	position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.8));
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
}
.content .content1 .post1 .duration{
	position: absolute;
    top: 0;
    right: 0;
    padding: 3px 5px;
    color: #ffffff;
    font-size: 11px;
    background: -webkit-linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.8));
    background: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.8));
}
.content .content1 .post1 .view{
	position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px 8px;
    color: #ffffff;
    font-size: 11px;
   
    border-radius: 0 0 0 5px;

}
/*.content .content1 .post .number{
	 position: absolute;
    right: 0;
    bottom: 0;
    padding: 8px 15px;
    background-color: rgba(231, 231, 231, 0.51);
    border-radius: 5px 0 0 0;
}*/
.content .content1 .post1 .link{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("images/play.png") no-repeat;
    background-size: 0;
    background-position: center;
    -webkit-transition: background-size 0.3s, background-color 0.3s;
    transition: background-size 0.3s, background-color 0.3s;
}
.content .content1 .post1:hover .link
{
	background-size: 40px;
    background-color: rgba(0, 0, 0, 0.2);
}
.content .content1 .post1 img{
	height: 300px;
}
/*=============side bar================*/
.sidebar{
	padding-left: 15px;
}