@{

    var listnewVideo = (List<Models.Framework.Video>)ViewBag.NewVideo;
}
<div id="slider-container">
    <div class="container">
        <!-- Slides MUST BE 5 -->
        <div class="bx-wrapper" style="max-width: 100%;">
            <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 500px;">
                <ul id="featured-slider" style="width: 715%; position: relative; left: -800px;">
                    @foreach (var item in listnewVideo)
                    {

                        var url = "/video/" + @item.MetaTitle + "/" + @item.Mavideo;
                        <li class="typical_slide">
                            <div class="fluid-width-video-wrapper" style="padding-top: 62.5%;">

                                <iframe src="@item.Link"></iframe>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <div class="bx-controls"></div>
        </div>
        <!-- Tabs for slides MUST BE 5 -->
        <div id="featured-slider-pager">

            @{
                int i = 0;
                foreach (var item in listnewVideo)
                {
                    <a data-slide-index=@i href="" class="active">
                        <img src="~/Assets/client/images/slider/slider_small_1.jpg" />
                        <h3>@item.Tenvideo</h3>
                        <div class="entry-meta">
                            <div class="review-stars">
                                <span class="star-full"></span>
                                <span class="star-full"></span>
                                <span class="star-full"></span>
                                <span class="star-full"></span>
                                <span class="star-half"></span>
                            </div>
                            <div class="description-em">
                                <span class="by-view-number">13</span>
                                <span class="by-date">1 day ago</span>
                            </div>
                        </div>
                    </a>
                    i++;
                }
            }
    </div>
</div>
</div>
