@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Shared_Layout.cshtml";
}
<!-- Primary left -->
<div id="primary-left">

    <!-- Multiple horizontal posts -->
    <div class="multiple">
        <!-- Main post -->
        <div class="article-vertical">
            <div class="post-image">
                <img src="img/posts/blog_1.jpg" alt="Post" />
                <ol class="social-links">
                    <li><a href="#"><i class="icon-link"></i></a></li>
                    <li><a href="img/posts/blog_1.jpg" rel="lightbox"><i class="icon-search"></i></a></li>
                </ol>
            </div>
            <div class="entry-content">
                <h1 class="entry-title"><a href="#">Fashion archive: Jeff Banks brings designer clothes to the high street</a></h1>
                <div class="entry-meta">
                    <div class="review-stars">
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-half"></span>
                        <span class="star-empty"></span>
                        <span class="star-empty"></span>
                    </div>
                    <div class="description-em">
                        <span class="by-view-number">132</span>
                        <span class="by-date">1 day ago</span>
                        <span class="by-comments"><a href="#">42</a></span>
                    </div>
                </div>
                <p>Hooking up with Double Identity for another sic collab shoe. The last one already rockin.</p>
                <a href="#" class="read-more">Read more</a>
            </div>
        </div>
        <!-- Multiple posts on the right side -->
        <div class="multiple-posts">
            <!-- Title -->
            <div class="multiple-posts-title">
                <h5>Blog</h5>
                <a href="#">View all</a>
            </div>
            <ul>
                <!-- Posts -->
                <li>
                    <a href="#"><img src="img/posts/blog_small_1.jpg" alt="Post" /></a>
                    <h3><a href="#">Men's jumpers 10 different looks – in pictures</a></h3>
                    <div class="entry-meta">
                        <div class="review-stars">
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                        </div>
                        <div class="description-em">
                            <span class="by-view-number">132</span>
                            <span class="by-date">1 day ago</span>
                        </div>
                    </div>
                </li>
                <!-- Posts -->
                <li>
                    <a href="#"><img src="img/posts/blog_small_2.jpg" alt="Post" /></a>
                    <h3><a href="#">The tweed revolution: from the countryside to the catwalk</a></h3>
                    <div class="entry-meta">
                        <div class="review-stars">
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-empty"></span>
                            <span class="star-empty"></span>
                            <span class="star-empty"></span>
                        </div>
                        <div class="description-em">
                            <span class="by-view-number">132</span>
                            <span class="by-date">1 day ago</span>
                        </div>
                    </div>
                </li>
                <!-- Posts -->
                <li>
                    <a href="#"><img src="img/posts/blog_small_3.jpg" alt="Post" /></a>
                    <h3><a href="#">Pixie Geldof goes for the serious fashion statement</a></h3>
                    <div class="entry-meta">
                        <div class="review-stars">
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-half"></span>
                        </div>
                        <div class="description-em">
                            <span class="by-view-number">132</span>
                            <span class="by-date">1 day ago</span>
                        </div>
                    </div>
                </li>
                <!-- Posts -->
                <li>
                    <a href="#"><img src="img/posts/blog_small_4.jpg" alt="Post" /></a>
                    <h3><a href="#">The Downton Abbey boys get a 21st-century makeover - in pictures</a></h3>
                    <div class="entry-meta">
                        <div class="review-stars">
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-half"></span>
                            <span class="star-empty"></span>
                            <span class="star-empty"></span>
                        </div>
                        <div class="description-em">
                            <span class="by-view-number">132</span>
                            <span class="by-date">1 day ago</span>
                        </div>
                    </div>
                </li>
                <!-- Posts -->
                <li>
                    <a href="#"><img src="img/posts/blog_small_5.jpg" alt="Post" /></a>
                    <h3><a href="#">The Downton Abbey boys get a 21st-century makeover - in pictures</a></h3>
                    <div class="entry-meta">
                        <div class="review-stars">
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-half"></span>
                            <span class="star-empty"></span>
                            <span class="star-empty"></span>
                        </div>
                        <div class="description-em">
                            <span class="by-view-number">132</span>
                            <span class="by-date">1 day ago</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!-- Multiple horizontal posts -->
    <div class="multiple">
        <!-- Main post -->
        <div class="article-vertical">
            <div class="post-image">
                <img src="img/posts/travel_1.jpg" alt="Post" />
                <ol class="social-links">
                    <li><a href="#"><i class="icon-link"></i></a></li>
                    <li><a href="img/posts/travel_1.jpg" rel="lightbox"><i class="icon-search"></i></a></li>
                </ol>
            </div>
            <div class="entry-content">
                <h1 class="entry-title"><a href="#">The Caribbean: 7 islands and what we recommend them for</a></h1>
                <div class="entry-meta">
                    <div class="review-stars">
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-half"></span>
                        <span class="star-empty"></span>
                        <span class="star-empty"></span>
                    </div>
                    <div class="description-em">
                        <span class="by-view-number">132</span>
                        <span class="by-date">1 day ago</span>
                        <span class="by-comments"><a href="#">42</a></span>
                    </div>
                </div>
                <p>Hooking up with Double Identity for another sic collab shoe. The last one already rockin.</p>
                <a href="#" class="read-more">Read more</a>
            </div>
        </div>
        <!-- Multiple posts on the right side -->
        <div class="multiple-posts">
            <!-- Title -->
            <div class="multiple-posts-title" style="background-color:#5db9de">
                <h5>Travel</h5>
                <a href="#">View all</a>
            </div>
            <ul>
                <!-- Posts -->
                <li>
                    <a href="#"><img src="img/posts/travel_small_1.jpg" alt="image" /></a>
                    <h3><a href="#">US government shuts down visitor attractions</a></h3>
                    <div class="entry-meta">
                        <div class="review-stars">
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                        </div>
                        <div class="description-em">
                            <span class="by-view-number">132</span>
                            <span class="by-date">1 day ago</span>
                        </div>
                    </div>
                </li>
                <!-- Posts -->
                <li>
                    <a href="#"><img src="img/posts/travel_small_2.jpg" alt="image" /></a>
                    <h3><a href="#">Indian airline to employ only female flight attendants</a></h3>
                    <div class="entry-meta">
                        <div class="review-stars">
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-empty"></span>
                            <span class="star-empty"></span>
                            <span class="star-empty"></span>
                        </div>
                        <div class="description-em">
                            <span class="by-view-number">132</span>
                            <span class="by-date">1 day ago</span>
                        </div>
                    </div>
                </li>
                <!-- Posts -->
                <li>
                    <a href="#"><img src="img/posts/travel_small_3.jpg" alt="image" /></a>
                    <h3><a href="#">Spain may be sued for rejection of EU Health Card</a></h3>
                    <div class="entry-meta">
                        <div class="review-stars">
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-half"></span>
                        </div>
                        <div class="description-em">
                            <span class="by-view-number">132</span>
                            <span class="by-date">1 day ago</span>
                        </div>
                    </div>
                </li>
                <!-- Posts -->
                <li>
                    <a href="#"><img src="img/posts/travel_small_4.jpg" alt="image" /></a>
                    <h3><a href="#">End of May: weekend break in Inverness for £148 with Thistle hotels</a></h3>
                    <div class="entry-meta">
                        <div class="review-stars">
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-half"></span>
                            <span class="star-empty"></span>
                            <span class="star-empty"></span>
                        </div>
                        <div class="description-em">
                            <span class="by-view-number">132</span>
                            <span class="by-date">1 day ago</span>
                        </div>
                    </div>
                </li>
                <!-- Posts -->
                <li>
                    <a href="#"><img src="img/posts/travel_small_5.jpg" alt="image" /></a>
                    <h3><a href="#">£148 for travel around the globe</a></h3>
                    <div class="entry-meta">
                        <div class="review-stars">
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-half"></span>
                            <span class="star-empty"></span>
                            <span class="star-empty"></span>
                        </div>
                        <div class="description-em">
                            <span class="by-view-number">132</span>
                            <span class="by-date">1 day ago</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!-- Multiple horizontal posts -->
    <div class="multiple">
        <!-- Main post -->
        <div class="article-vertical">
            <div class="post-image">
                <img src="img/posts/fashion_1.jpg" alt="Post" />
                <ol class="social-links">
                    <li><a href="#"><i class="icon-link"></i></a></li>
                    <li><a href="img/posts/fashion_1.jpg" rel="lightbox"><i class="icon-search"></i></a></li>
                </ol>
            </div>
            <div class="entry-content">
                <h1 class="entry-title"><a href="#">Chanel bags the biggest fans at the London Frieze</a></h1>
                <div class="entry-meta">
                    <div class="review-stars">
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-half"></span>
                        <span class="star-empty"></span>
                        <span class="star-empty"></span>
                    </div>
                    <div class="description-em">
                        <span class="by-view-number">132</span>
                        <span class="by-date">1 day ago</span>
                        <span class="by-comments"><a href="#">42</a></span>
                    </div>
                </div>
                <p>Hooking up with Double Identity for another sic collab shoe. The last one already rockin.</p>
                <a href="#" class="read-more">Read more</a>
            </div>
        </div>
        <!-- Multiple posts on the right side -->
        <div class="multiple-posts">
            <!-- Title -->
            <div class="multiple-posts-title" style="background-color:#ea4c89">
                <h5>Fashion</h5>
                <a href="#">View all</a>
            </div>
            <ul>
                <!-- Posts -->
                <li>
                    <a href="#"><img src="img/posts/fashion_small_1.jpg" alt="Post" /></a>
                    <h3><a href="#">How young heroines helped redefine girlhood as a state of strength</a></h3>
                    <div class="entry-meta">
                        <div class="review-stars">
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                        </div>
                        <div class="description-em">
                            <span class="by-view-number">132</span>
                            <span class="by-date">1 day ago</span>
                        </div>
                    </div>
                </li>
                <!-- Posts -->
                <li>
                    <a href="#"><img src="img/posts/fashion_small_2.jpg" alt="Post" /></a>
                    <h3><a href="#">The tweed revolution: from the countryside to the catwalk</a></h3>
                    <div class="entry-meta">
                        <div class="review-stars">
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-empty"></span>
                            <span class="star-empty"></span>
                            <span class="star-empty"></span>
                        </div>
                        <div class="description-em">
                            <span class="by-view-number">132</span>
                            <span class="by-date">1 day ago</span>
                        </div>
                    </div>
                </li>
                <!-- Posts -->
                <li>
                    <a href="#"><img src="img/posts/fashion_small_3.jpg" alt="Post" /></a>
                    <h3><a href="#">Pixie Geldof goes for the serious fashion statement</a></h3>
                    <div class="entry-meta">
                        <div class="review-stars">
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-half"></span>
                        </div>
                        <div class="description-em">
                            <span class="by-view-number">132</span>
                            <span class="by-date">1 day ago</span>
                        </div>
                    </div>
                </li>
                <!-- Posts -->
                <li>
                    <a href="#"><img src="img/posts/fashion_small_4.jpg" alt="Post" /></a>
                    <h3><a href="#">The Downton Abbey boys get a 21st-century makeover - in pictures</a></h3>
                    <div class="entry-meta">
                        <div class="review-stars">
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-half"></span>
                            <span class="star-empty"></span>
                            <span class="star-empty"></span>
                        </div>
                        <div class="description-em">
                            <span class="by-view-number">132</span>
                            <span class="by-date">1 day ago</span>
                        </div>
                    </div>
                </li>
                <!-- Posts -->
                <li>
                    <a href="#"><img src="img/posts/fashion_small_5.jpg" alt="Post" /></a>
                    <h3><a href="#">The Downton Abbey boys get a 21st-century makeover - in pictures</a></h3>
                    <div class="entry-meta">
                        <div class="review-stars">
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-half"></span>
                            <span class="star-empty"></span>
                            <span class="star-empty"></span>
                        </div>
                        <div class="description-em">
                            <span class="by-view-number">132</span>
                            <span class="by-date">1 day ago</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- Clear any floats -->
    <div class="clear"></div>
    <!-- Rating standings -->
    <div class="rating-standings col4">
        <!-- Title -->
        <div class="standings-title" style="background-color:#f36523">
            <h5>Games</h5>
            <a href="#">View all</a>
        </div>
        <!-- Post lists -->
        <ul>
            <li>
                <span class="standing-number">1</span>
                <h3><a href="#">Creators of Myst launch new project on Kickstarter</a></h3>
                <div class="entry-meta">
                    <div class="review-stars">
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                    </div>
                    <div class="description-em">
                        <span class="by-comments"><a href="#">24</a></span>
                        <span class="by-view-number">347</span>
                    </div>
                </div>
            </li>
            <li>
                <span class="standing-number">2</span>
                <h3><a href="#">The Wolf Among Us: Faith Review | Max Level</a></h3>
                <div class="entry-meta">
                    <div class="review-stars">
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-half"></span>
                    </div>
                    <div class="description-em">
                        <span class="by-comments"><a href="#">24</a></span>
                        <span class="by-view-number">347</span>
                    </div>
                </div>
            </li>
            <li>
                <span class="standing-number">3</span>
                <h3><a href="#">Excalibur Gift Code Giveaway!</a></h3>
                <div class="entry-meta">
                    <div class="review-stars">
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-half"></span>
                        <span class="star-empty"></span>
                        <span class="star-empty"></span>
                    </div>
                    <div class="description-em">
                        <span class="by-comments"><a href="#">24</a></span>
                        <span class="by-view-number">347</span>
                    </div>
                </div>
            </li>
            <li>
                <span class="standing-number">4</span>
                <h3><a href="#">Global Hardware and Software weekly ending October 12thr</a></h3>
                <div class="entry-meta">
                    <div class="review-stars">
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-empty"></span>
                        <span class="star-empty"></span>
                        <span class="star-empty"></span>
                    </div>
                    <div class="description-em">
                        <span class="by-comments"><a href="#">24</a></span>
                        <span class="by-view-number">347</span>
                    </div>
                </div>
            </li>
            <li>
                <span class="standing-number">5</span>
                <h3><a href="#">Review: The Wolf Among Us - Faith - Save/Continue</a></h3>
                <div class="entry-meta">
                    <div class="review-stars">
                        <span class="star-half"></span>
                        <span class="star-empty"></span>
                        <span class="star-empty"></span>
                        <span class="star-empty"></span>
                        <span class="star-empty"></span>
                    </div>
                    <div class="description-em">
                        <span class="by-comments"><a href="#">24</a></span>
                        <span class="by-view-number">347</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <!-- Rating standings -->
    <div class="rating-standings col4">
        <!-- Title -->
        <div class="standings-title" style="background-color:#3ab54a">
            <h5>Health</h5>
            <a href="#">View all</a>
        </div>
        <!-- Post lists -->
        <ul>
            <li>
                <span class="standing-number">1</span>
                <h3><a href="#">Creators of Myst launch new project on Kickstarter</a></h3>
                <div class="entry-meta">
                    <div class="review-stars">
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                    </div>
                    <div class="description-em">
                        <span class="by-comments"><a href="#">24</a></span>
                        <span class="by-view-number">347</span>
                    </div>
                </div>
            </li>
            <li>
                <span class="standing-number">2</span>
                <h3><a href="#">The Wolf Among Us: Faith Review | Max Level</a></h3>
                <div class="entry-meta">
                    <div class="review-stars">
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-half"></span>
                    </div>
                    <div class="description-em">
                        <span class="by-comments"><a href="#">24</a></span>
                        <span class="by-view-number">347</span>
                    </div>
                </div>
            </li>
            <li>
                <span class="standing-number">3</span>
                <h3><a href="#">Excalibur Gift Code Giveaway!</a></h3>
                <div class="entry-meta">
                    <div class="review-stars">
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-half"></span>
                        <span class="star-empty"></span>
                        <span class="star-empty"></span>
                    </div>
                    <div class="description-em">
                        <span class="by-comments"><a href="#">24</a></span>
                        <span class="by-view-number">347</span>
                    </div>
                </div>
            </li>
            <li>
                <span class="standing-number">4</span>
                <h3><a href="#">Global Hardware and Software weekly ending October 12thr</a></h3>
                <div class="entry-meta">
                    <div class="review-stars">
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-empty"></span>
                        <span class="star-empty"></span>
                        <span class="star-empty"></span>
                    </div>
                    <div class="description-em">
                        <span class="by-comments"><a href="#">24</a></span>
                        <span class="by-view-number">347</span>
                    </div>
                </div>
            </li>
            <li>
                <span class="standing-number">5</span>
                <h3><a href="#">Review: The Wolf Among Us - Faith - Save/Continue</a></h3>
                <div class="entry-meta">
                    <div class="review-stars">
                        <span class="star-half"></span>
                        <span class="star-empty"></span>
                        <span class="star-empty"></span>
                        <span class="star-empty"></span>
                        <span class="star-empty"></span>
                    </div>
                    <div class="description-em">
                        <span class="by-comments"><a href="#">24</a></span>
                        <span class="by-view-number">347</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <!-- Rating standings -->
    <div class="rating-standings col4 last">
        <!-- Title -->
        <div class="standings-title" style="background-color:#5db9de">
            <h5>Travel</h5>
            <a href="#">View all</a>
        </div>
        <!-- Post lists -->
        <ul>
            <li>
                <span class="standing-number">1</span>
                <h3><a href="#">Creators of Myst launch new project on Kickstarter</a></h3>
                <div class="entry-meta">
                    <div class="review-stars">
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                    </div>
                    <div class="description-em">
                        <span class="by-comments"><a href="#">24</a></span>
                        <span class="by-view-number">347</span>
                    </div>
                </div>
            </li>
            <li>
                <span class="standing-number">2</span>
                <h3><a href="#">The Wolf Among Us: Faith Review | Max Level</a></h3>
                <div class="entry-meta">
                    <div class="review-stars">
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-half"></span>
                    </div>
                    <div class="description-em">
                        <span class="by-comments"><a href="#">24</a></span>
                        <span class="by-view-number">347</span>
                    </div>
                </div>
            </li>
            <li>
                <span class="standing-number">3</span>
                <h3><a href="#">Excalibur Gift Code Giveaway!</a></h3>
                <div class="entry-meta">
                    <div class="review-stars">
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-half"></span>
                        <span class="star-empty"></span>
                        <span class="star-empty"></span>
                    </div>
                    <div class="description-em">
                        <span class="by-comments"><a href="#">24</a></span>
                        <span class="by-view-number">347</span>
                    </div>
                </div>
            </li>
            <li>
                <span class="standing-number">4</span>
                <h3><a href="#">Global Hardware and Software weekly ending October 12thr</a></h3>
                <div class="entry-meta">
                    <div class="review-stars">
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-empty"></span>
                        <span class="star-empty"></span>
                        <span class="star-empty"></span>
                    </div>
                    <div class="description-em">
                        <span class="by-comments"><a href="#">24</a></span>
                        <span class="by-view-number">347</span>
                    </div>
                </div>
            </li>
            <li>
                <span class="standing-number">5</span>
                <h3><a href="#">Review: The Wolf Among Us - Faith - Save/Continue</a></h3>
                <div class="entry-meta">
                    <div class="review-stars">
                        <span class="star-half"></span>
                        <span class="star-empty"></span>
                        <span class="star-empty"></span>
                        <span class="star-empty"></span>
                        <span class="star-empty"></span>
                    </div>
                    <div class="description-em">
                        <span class="by-comments"><a href="#">24</a></span>
                        <span class="by-view-number">347</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>
<!-- Sidebar -->
<div id="sidebar">
    <!-- Social profile -->
    <div class="widget no-bg">
        <ul class="widget-social-profile">
            <li class="twitter">
                <a href="#">
                    <i class="icon-twitter"></i>
                    <strong>29,272</strong>
                    <span>followers</span>
                </a>
            </li>
            <li class="facebook">
                <a href="#">
                    <i class="icon-facebook"></i>
                    <strong>6,072</strong>
                    <span>fans</span>
                </a>
            </li>
            <li class="rss">
                <a href="#">
                    <i class="icon-rss"></i>
                    <strong>112,054</strong>
                    <span>subscribers</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- Popular posts -->
    <div class="widget">
        <h3 class="widget-title">Latest reviews</h3>
        <ul class="widget-latest-reviews">
            <li>
                <a href="#"><img src="img/sidebar/post_1.jpg" alt="Post" /></a>
                <h3><a href="#">Donec ut consequat nec viverra scelerisqu</a></h3>
                <div class="entry-review">
                    <div class="review-stars">
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-empty"></span>
                    </div>
                </div>
            </li>
            <li>
                <a href="#"><img src="img/posts/blog_small_3.jpg" alt="Post" /></a>
                <h3><a href="#">Donec ut consequat nec viverra scelerisqu</a></h3>
                <div class="entry-review">
                    <div class="review-stars">
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-empty"></span>
                    </div>
                </div>
            </li>
            <li>
                <a href="#"><img src="img/posts/travel_small_2.jpg" alt="Post" /></a>
                <h3><a href="#">Donec ut consequat nec viverra scelerisqu</a></h3>
                <div class="entry-review">
                    <div class="review-stars">
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-empty"></span>
                    </div>
                </div>
            </li>
            <li>
                <a href="#"><img src="img/posts/fashion_small_1.jpg" alt="Post" /></a>
                <h3><a href="#">Donec ut consequat nec viverra scelerisqu</a></h3>
                <div class="entry-review">
                    <div class="review-stars">
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-empty"></span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- Flickr -->
    <div class="widget">
        <h3 class="widget-title">Flickr <span><a href="http://www.flickr.com/" target="_blank"><i class="icon-flickr"></i></a></span></h3>
        <ul class="widget-flickr"></ul>
    </div>
    <!-- Category -->
    <div class="widget">
        <h3 class="widget-title">Category</h3>
        <ul class="widget-category">
            <li><a href="#">Technology</a><span>6</span></li>
            <li><a href="#">Travel</a><span>13</span></li>
            <li><a href="#">Design</a><span>2</span></li>
            <li><a href="#">Fashion</a><span>45</span></li>
            <li><a href="#">Lifestyle</a><span>31</span></li>
        </ul>
    </div>
    <!-- Ad 300x250 -->
    <div class="widget">
        <h3 class="widget-title">Advertising 300x250</h3>
        <div class="widget-300x250ad"><img src="img/banners/300x250.gif" alt="Image" /></div>
    </div>
</div>

