@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Shared_Layout.cshtml";
}<!-- Primary left -->
<div id="primary-left">
    <!-- Blank page -->
    <div class="blank-page-container">
        <h5>Images</h5>
        <p class="subheader">
            You can float them to left, center and to right.<br>
            At bottom there are examples of image frames.
        </p>
        <hr>
        <p class="dropcap">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet tristique faucibus. Curabitur egestas turpis velit. Sed gravida pharetra ante, quis vulputate tortor tincidunt ac. In sed felis dignissim, tincidunt lorem eget, pretium ipsum. Phasellus non orci porta, convallis justo ac, sagittis ligula. Suspendisse enim metus, tristique vel urna quis, porttitor tempor magna. <img src="img/posts/quad_post_6.jpg" class="align-right" alt="Image" /> Aenean iaculis neque ut consequat pellentesque. Ut vitae mollis odio. Cras a semper urna, ultrices luctus dolor. Cras ac interdum enim.</p>
        <p>Suspendisse tincidunt vestibulum sapien. Fusce eleifend magna orci, sed iaculis dolor pellentesque porttitor. Donec fringilla volutpat elit dictum pulvinar. Pellentesque quis tempus arcu, auctor sagittis lacus. Etiam tincidunt suscipit felis in tempor. Phasellus neque mi, adipiscing ut elementum eu, pulvinar vel mauris. Vivamus quis lacus ipsum.</p>
        <p>Vestibulum vel elementum quam. Pellentesque orci neque, ornare vel bibendum id, consequat ac purus. Nunc mattis malesuada ligula, non molestie libero cursus sed. Donec erat augue, porttitor sed tristique faucibus, gravida ut dolor. Donec varius, odio ornare feugiat hendrerit, urna nulla porta ligula, vitae molestie lorem felis eu tortor. Mauris faucibus purus non fringilla vehicula. <img src="img/posts/quad_post_1.jpg" class="align-left" alt="Image" /> Cras feugiat nec neque eget cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu fermentum enim. Suspendisse lobortis neque vestibulum rutrum mollis. In semper placerat condimentum.</p>
        <p>Nunc vitae pellentesque mauris. Integer id tincidunt velit. Nam at sem accumsan, pellentesque lacus ac, rhoncus odio. Integer eu mollis ipsum. Donec lectus lacus, lacinia eget ipsum dictum, tempus fermentum libero. Ut euismod lobortis lacus, et ullamcorper nibh pharetra at. Fusce tincidunt suscipit dolor, vitae varius magna lobortis nec.</p>
        <p>Aliquam vehicula erat id pellentesque cursus. Curabitur viverra porta felis eu viverra. Integer quis nunc leo. Praesent ornare enim non porta suscipit. Nullam sed nisl nec metus vehicula vehicula. Vestibulum imperdiet, dui vel feugiat placerat, ligula enim ultricies nisl, eget dignissim mi quam sed lacus. Donec fermentum fringilla sollicitudin. In hac habitasse platea dictumst. <img src="img/posts/post_full_width.jpg" class="full-width" alt="Image" /> Nullam id elit sed arcu iaculis vehicula auctor vel tellus. Integer imperdiet leo et lacinia dictum. Sed faucibus sollicitudin quam. Sed blandit orci in nisi scelerisque convallis. Sed iaculis malesuada porttitor. Duis odio elit, volutpat ut ullamcorper eget, condimentum hendrerit urna. Nam cursus, diam ut tempor tempus, dolor mi ullamcorper ante, at accumsan nulla leo nec diam.</p>
        <div class="spacer"></div>

        <h5>Frames</h5>
        <p class="subheader">Three different frames with caption on or off.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet tristique faucibus. Curabitur egestas turpis velit. Sed gravida pharetra ante, quis vulputate tortor tincidunt ac. In sed felis dignissim, tincidunt lorem eget, pretium ipsum. Phasellus non orci porta, convallis justo ac, sagittis ligula. Suspendisse enim metus, tristique vel urna quis, porttitor tempor magna. <div class="caption align-left"><img src="img/posts/quad_post_7.jpg" alt="Image" /><span>This is caption</span></div> Aenean iaculis neque ut consequat pellentesque. Ut vitae mollis odio. Cras a semper urna, ultrices luctus dolor. Cras ac interdum enim. Suspendisse tincidunt vestibulum sapien. Fusce eleifend magna orci, sed iaculis dolor pellentesque porttitor. Donec fringilla volutpat elit dictum pulvinar. Pellentesque quis tempus arcu, auctor sagittis lacus. Etiam tincidunt suscipit felis in tempor. Phasellus neque mi, adipiscing ut elementum eu, pulvinar vel mauris. Vivamus quis lacus ipsum.</p>
        <p>Vestibulum vel elementum quam. Pellentesque orci neque, ornare vel bibendum id, consequat ac purus. Nunc mattis malesuada ligula, non molestie libero cursus sed. Donec erat augue, porttitor sed tristique faucibus, gravida ut dolor. Donec varius, odio ornare feugiat hendrerit, urna nulla porta ligula, vitae molestie lorem felis eu tortor. Mauris faucibus purus non fringilla vehicula. <div class="caption align-right"><img src="img/posts/quad_post_8.jpg" alt="Image" /></div> Cras feugiat nec neque eget cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu fermentum enim. Suspendisse lobortis neque vestibulum rutrum mollis. In semper placerat condimentum.</p>
        <p>Nunc vitae pellentesque mauris. Integer id tincidunt velit. Nam at sem accumsan, pellentesque lacus ac, rhoncus odio. Integer eu mollis ipsum. Donec lectus lacus, lacinia eget ipsum dictum, tempus fermentum libero. Ut euismod lobortis lacus, et ullamcorper nibh pharetra at. Fusce tincidunt suscipit dolor, vitae varius magna lobortis nec. Aliquam vehicula erat id pellentesque cursus. Curabitur viverra porta felis eu viverra. Integer quis nunc leo. Praesent ornare enim non porta suscipit. Nullam sed nisl nec metus vehicula vehicula. Vestibulum imperdiet, dui vel feugiat placerat, ligula enim ultricies nisl, eget dignissim mi quam sed lacus. Donec fermentum fringilla sollicitudin. In hac habitasse platea dictumst. Nullam id elit sed arcu iaculis vehicula auctor vel tellus. Integer imperdiet leo et lacinia dictum. Sed faucibus sollicitudin quam. Sed blandit orci in nisi scelerisque convallis. Sed iaculis malesuada porttitor. Duis odio elit, volutpat ut ullamcorper eget, condimentum hendrerit urna. Nam cursus, diam ut tempor tempus, dolor mi ullamcorper ante, at accumsan nulla leo nec diam. <div class="caption full-width"><img src="img/posts/post_slider_3.jpg" alt="Image" /><span>This is caption</span></div> Vestibulum imperdiet, dui vel feugiat placerat, ligula enim ultricies nisl, eget dignissim mi quam sed lacus. Donec fermentum fringilla sollicitudin. In hac habitasse platea dictumst. Nullam id elit sed arcu iaculis vehicula auctor vel tellus. Integer imperdiet leo et lacinia dictum. Sed faucibus sollicitudin quam. Sed blandit orci in nisi scelerisque convallis. Sed iaculis malesuada porttitor. Duis odio elit, volutpat ut ullamcorper eget, condimentum hendrerit urna. Nam cursus, diam ut tempor tempus, dolor mi ullamcorper ante, at accumsan nulla leo nec diam.</p>
    </div>
    <!-- Share this article -->
    <div id="share-this-article">
        <div class="share-text">Share this article</div>
        <ul class="social-icons">
            <li class="pinterest">
                <a href="#"><i class="icon-pinterest"></i></a>
                <span class="count-number">42</span>
            </li>
            <li class="linkedin">
                <a href="#"><i class="icon-linkedin"></i></a>
                <span class="count-number">42</span>
            </li>
            <li class="googleplus">
                <a href="#"><i class="icon-google-plus"></i></a>
                <span class="count-number">42</span>
            </li>
            <li class="facebook">
                <a href="#"><i class="icon-facebook"></i></a>
                <span class="count-number">42</span>
            </li>
            <li class="twitter">
                <a href="#"><i class="icon-twitter"></i></a>
                <span class="count-number">42</span>
            </li>
        </ul>
    </div>
    <!-- Post controls -->
    <div id="post-controls">
        <a href="#" class="prev">
            <span>Previous</span>
            <p>The Caribbean: 7 islands and what we recommend them for and the best recipes with autumn fruits.</p>
        </a>
        <a href="#" class="next">
            <span>Next</span>
            <p>Cetero comprehensam ad mel eu legere insolens incorrupte usu cum eu deleniti insolens labore graeco.</p>
        </a>
    </div>
</div>
<!-- Sidebar -->
<div id="sidebar">
    <!-- Category -->
    <div class="widget">
        <h3 class="widget-title">Shortcodes</h3>
        <ul class="widget-category">
            <li><a href="short-typography.html">Typography</a></li>
            <li><a href="short-buttons.html">Buttons</a></li>
            <li><a href="short-lightbox.html">Lightbox</a></li>
            <li><a href="short-images.html">Images</a></li>
            <li><a href="short-videos.html">Videos</a></li>
            <li><a href="short-icons.html">Font Awesome</a></li>
            <li><a href="short-tabs-toggles.html">Tabs and toggles</a></li>
            <li><a href="short-columns-sidebar.html">Columns (sidebar)</a></li>
            <li><a href="short-columns-full.html">Columns</a></li>
        </ul>
    </div>
    <!-- Popular posts -->
    <div class="widget">
        <h3 class="widget-title">Popular posts</h3>
        <ul class="widget-popular-posts">
            <li>
                <a href="#"><img src="img/sidebar/post_1.jpg" alt="Post" /></a>
                <h3><a href="#">Donec ut consequat nec viverra scelerisqu</a></h3>
                <div class="entry-meta">
                    <div class="description-em">
                        <span class="by-category"><a href="#">Travel</a></span>
                        <span class="by-view-number">132</span>
                    </div>
                </div>
            </li>
            <li>
                <a href="#"><img src="img/posts/fashion_small_5.jpg" alt="Post" /></a>
                <h3><a href="#">Donec ut consequat nec viverra scelerisqu</a></h3>
                <div class="entry-meta">
                    <div class="description-em">
                        <span class="by-category"><a href="#">Games</a></span>
                        <span class="by-view-number">132</span>
                    </div>
                </div>
            </li>
            <li>
                <a href="#"><img src="img/posts/travel_small_1.jpg" alt="Post" /></a>
                <h3><a href="#">Donec ut consequat nec viverra scelerisqu</a></h3>
                <div class="entry-meta">
                    <div class="description-em">
                        <span class="by-category"><a href="#">Travel</a></span>
                        <span class="by-view-number">132</span>
                    </div>
                </div>
            </li>
            <li>
                <a href="#"><img src="img/posts/fashion_small_3.jpg" alt="Post" /></a>
                <h3><a href="#">Donec ut consequat nec viverra scelerisqu</a></h3>
                <div class="entry-meta">
                    <div class="description-em">
                        <span class="by-category"><a href="#">Fashion</a></span>
                        <span class="by-view-number">132</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
