@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/frontEnd/index.cshtml";
}

<div class="container">
  	<!-- Primary left -->
    <div id="primary-fullwidth">
        <!-- Article vertical -->
        <div class="article-vertical col3">
            <div class="post-image">
                <img src="~/Content/img/posts/quad_post_1.jpg" alt="Post">
                <ol class="social-links">
                    <li><a href="#"><i class="icon-link"></i></a></li>
                    <li><a href="~/Content/img/posts/quad_post_1.jpg" rel="lightbox"><i class="icon-search"></i></a></li>
                </ol>
            </div>
            <div class="entry-content">
                <h1 class="entry-title"><a href="#">The Caribbean: 7 islands and what we recommend them for</a></h1>
                <div class="entry-meta">
                    <div class="review-stars">
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                    </div>
                    <div class="description-em">
                        <span class="by-view-number">132</span>
                        <span class="by-date">1 day ago</span>
                        <span class="by-comments"><a href="#">42</a></span>
                    </div>
                </div>
                <p>Curabitur pretium enim mi, quis tristique est blandit nec.</p>
                <a href="#" class="read-more">Read more</a>
                <span class="format-post"><i class="icon-file-text-alt"></i></span>
            </div>
        </div>
        <!-- Article vertical -->
        <div class="article-vertical col3">
            <iframe width="100%" height="165" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/84307375"></iframe>
            <div class="entry-content">
                <h1 class="entry-title"><a href="#">BTK - Thorn [Drum &amp; Bass Arena 2013]</a></h1>
                <div class="entry-meta">
                    <div class="review-stars">
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-half"></span>
                        <span class="star-empty"></span>
                    </div>
                    <div class="description-em">
                        <span class="by-view-number">132</span>
                        <span class="by-date">1 day ago</span>
                        <span class="by-comments"><a href="#">42</a></span>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pharetra dolor egestas dui gravida, nec pellentesque purus fermentum.</p>
                <a href="#" class="read-more">Read more</a>
                <span class="format-post"><i class="icon-music"></i></span>
            </div>
        </div>
        <!-- Article vertical -->
        <div class="article-vertical col3">
            <div class="post-image">
                <img src="~/Content/img/posts/quad_post_1.jpg" alt="Post">
                <ol class="social-links">
                    <li><a href="#"><i class="icon-link"></i></a></li>
                    <li><a href="~/Content/img/posts/quad_post_1.jpg" rel="lightbox"><i class="icon-search"></i></a></li>
                </ol>
            </div>
            <div class="entry-content">
                <h1 class="entry-title"><a href="#">The Caribbean: 7 islands and what we recommend them for</a></h1>
                <div class="entry-meta">
                    <div class="review-stars">
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                    </div>
                    <div class="description-em">
                        <span class="by-view-number">132</span>
                        <span class="by-date">1 day ago</span>
                        <span class="by-comments"><a href="#">42</a></span>
                    </div>
                </div>
                <p>Curabitur pretium enim mi, quis tristique est blandit nec.</p>
                <a href="#" class="read-more">Read more</a>
                <span class="format-post"><i class="icon-file-text-alt"></i></span>
            </div>
        </div>
        <!-- Article vertical -->
        <div class="article-vertical col3 last">
            <div class="post-image">
                <img src="~/Content/img/posts/quad_post_2.jpg" alt="Post">
                <ol class="social-links">
                    <li><a href="#"><i class="icon-link"></i></a></li>
                    <li><a href="~/Content/img/posts/quad_post_2.jpg" rel="lightbox"><i class="icon-search"></i></a></li>
                </ol>
            </div>
            <div class="entry-content">
                <h1 class="entry-title"><a href="#">Chanel bags the biggest fans at the London Frieze</a></h1>
                <div class="entry-meta">
                    <div class="review-stars">
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-empty"></span>
                        <span class="star-empty"></span>
                        <span class="star-empty"></span>
                    </div>
                    <div class="description-em">
                        <span class="by-view-number">132</span>
                        <span class="by-date">1 day ago</span>
                        <span class="by-comments"><a href="#">42</a></span>
                    </div>
                </div>
                <p>Praesent suscipit nisi et fringilla dictum. Lorem ipsum dolor.</p>
                <a href="#" class="read-more">Read more</a>
                <span class="format-post"><i class="icon-camera"></i></span>
            </div>
        </div>
        
        <!-- Clear floating divs -->
        <div class="clear"></div>
        <!-- Article vertical -->
        <div class="article-vertical col3">
        	<div class="post-image">
                <img src="~/Content/img/posts/quad_post_5.jpg" alt="Post">
                <ol class="social-links">
                    <li><a href="#"><i class="icon-link"></i></a></li>
                    <li><a href="~/Content/img/posts/quad_post_5.jpg" rel="lightbox"><i class="icon-search"></i></a></li>
                </ol>
            </div>
            <div class="entry-content">
                <h1 class="entry-title"><a href="#">The Downton Abbey boys get makeover</a></h1>
                <div class="entry-meta">
                    <div class="review-stars">
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                    </div>
                    <div class="description-em">
                        <span class="by-view-number">42</span>
                        <span class="by-date">3 days ago</span>
                        <span class="by-comments"><a href="#">4</a></span>
                    </div>
                </div>
                <p>Nam at magna lorem. Donec sed sem eget mi laoreet sodales et nec odio. Suspendisse in nunc massa. Aliquam erat volutpat.</p>
                <a href="#" class="read-more">Read more</a>
            </div>
        </div>    
        <!-- Article vertical -->
        <div class="article-vertical col3">
        	<div class="post-image">
                <img src="~/Content/img/posts/quad_post_5.jpg" alt="Post">
                <ol class="social-links">
                    <li><a href="#"><i class="icon-link"></i></a></li>
                    <li><a href="~/Content/img/posts/quad_post_5.jpg" rel="lightbox"><i class="icon-search"></i></a></li>
                </ol>
            </div>
            <div class="entry-content">
                <h1 class="entry-title"><a href="#">The Downton Abbey boys get makeover</a></h1>
                <div class="entry-meta">
                    <div class="review-stars">
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                    </div>
                    <div class="description-em">
                        <span class="by-view-number">42</span>
                        <span class="by-date">3 days ago</span>
                        <span class="by-comments"><a href="#">4</a></span>
                    </div>
                </div>
                <p>Nam at magna lorem. Donec sed sem eget mi laoreet sodales et nec odio. Suspendisse in nunc massa. Aliquam erat volutpat.</p>
                <a href="#" class="read-more">Read more</a>
            </div>
        </div>
        <!-- Article vertical -->
        <div class="article-vertical col3">
            <div class="post-image">
                <img src="~/Content/img/posts/quad_post_6.jpg" alt="Post">
                <ol class="social-links">
                    <li><a href="#"><i class="icon-link"></i></a></li>
                    <li><a href="~/Content/img/posts/quad_post_6.jpg" rel="lightbox"><i class="icon-search"></i></a></li>
                </ol>
            </div>
            <div class="entry-content">
                <h1 class="entry-title"><a href="#">The Caribbean: 7 islands and what we recommend them for</a></h1>
                <div class="entry-meta">
                    <div class="review-stars">
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                    </div>
                    <div class="description-em">
                        <span class="by-view-number">132</span>
                        <span class="by-date">1 day ago</span>
                        <span class="by-comments"><a href="#">42</a></span>
                    </div>
                </div>
                <p>Curabitur pretium enim mi, quis tristique est blandit nec. Nullam ac euismod lorem. Mauris consequat adipiscing velit.</p>
                <a href="#" class="read-more">Read more</a>
                <span class="format-post"><i class="icon-file-text-alt"></i></span>
            </div>
        </div>        
        <!-- Article vertical -->
        <div class="article-vertical col3 last">
            <div class="post-image">
                <img src="~/Content/img/posts/quad_post_7.jpg" alt="Post">
                <ol class="social-links">
                    <li><a href="#"><i class="icon-link"></i></a></li>
                    <li><a href="~/Content/img/posts/quad_post_7.jpg" rel="lightbox"><i class="icon-search"></i></a></li>
                </ol>
            </div>
            <div class="entry-content">
                <h1 class="entry-title"><a href="#">The Caribbean: 7 islands and what we recommend them for</a></h1>
                <div class="entry-meta">
                    <div class="review-stars">
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-half"></span>
                        <span class="star-empty"></span>
                        <span class="star-empty"></span>
                    </div>
                    <div class="description-em">
                        <span class="by-view-number">132</span>
                        <span class="by-date">1 day ago</span>
                        <span class="by-comments"><a href="#">42</a></span>
                    </div>
                </div>
                <p>Curabitur pretium enim mi, quis tristique est blandit nec. Nullam ac euismod lorem. Mauris consequat adipiscing velit.</p>
                <a href="#" class="read-more">Read more</a>
            </div>
        </div>
        
        <!-- Clear floating divs -->
        <div class="clear"></div>  
        <!-- Article vertical -->
        <div class="article-vertical col3">
            <iframe width="100%" height="165" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/84307375"></iframe>
            <div class="entry-content">
                <h1 class="entry-title"><a href="#">BTK - Thorn [Drum &amp; Bass Arena 2013]</a></h1>
                <div class="entry-meta">
                    <div class="review-stars">
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-half"></span>
                        <span class="star-empty"></span>
                    </div>
                    <div class="description-em">
                        <span class="by-view-number">132</span>
                        <span class="by-date">1 day ago</span>
                        <span class="by-comments"><a href="#">42</a></span>
                    </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a href="#" class="read-more">Read more</a>
                <span class="format-post"><i class="icon-music"></i></span>
            </div>
        </div>
        <!-- Article vertical -->
        <div class="article-vertical col3">
        	<div class="post-image">
                <img src="~/Content/img/posts/quad_post_8.jpg" alt="Post">
                <ol class="social-links">
                    <li><a href="#"><i class="icon-link"></i></a></li>
                    <li><a href="~/Content/img/posts/quad_post_8.jpg" rel="lightbox"><i class="icon-search"></i></a></li>
                </ol>
            </div>
            <div class="entry-content">
                <h1 class="entry-title"><a href="#">The Downton Abbey boys get makeover</a></h1>
                <div class="entry-meta">
                    <div class="review-stars">
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                    </div>
                    <div class="description-em">
                        <span class="by-view-number">42</span>
                        <span class="by-date">3 days ago</span>
                        <span class="by-comments"><a href="#">4</a></span>
                    </div>
                </div>
                <p>Nam at magna lorem. Donec sed sem eget mi laoreet sodales et nec odio. Suspendisse in nunc massa. Aliquam erat volutpat.</p>
                <a href="#" class="read-more">Read more</a>
            </div>
        </div>
        <!-- Article vertical -->
        <div class="article-vertical col3">
        	<div class="post-image">
                <img src="~/Content/img/posts/quad_post_5.jpg" alt="Post">
                <ol class="social-links">
                    <li><a href="#"><i class="icon-link"></i></a></li>
                    <li><a href="~/Content/img/posts/quad_post_5.jpg" rel="lightbox"><i class="icon-search"></i></a></li>
                </ol>
            </div>
            <div class="entry-content">
                <h1 class="entry-title"><a href="#">The Downton Abbey boys get makeover</a></h1>
                <div class="entry-meta">
                    <div class="review-stars">
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                    </div>
                    <div class="description-em">
                        <span class="by-view-number">42</span>
                        <span class="by-date">3 days ago</span>
                        <span class="by-comments"><a href="#">4</a></span>
                    </div>
                </div>
                <p>Nam at magna lorem. Donec sed sem eget mi laoreet sodales et nec odio. Suspendisse in nunc massa. Aliquam erat volutpat.</p>
                <a href="#" class="read-more">Read more</a>
            </div>
        </div>       
        <!-- Clear floating divs -->
        <div class="clear"></div>     
        <!-- Pagination -->
        <ul class="pagination">
            <li class="prev disabled">PREV</li>
            <li class="current">1</li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li class="next"><a href="#">NEXT</a></li>
        </ul>
        
        <!-- Clear floating divs -->
        <div class="clear"></div>
        
	</div>
</div>
