 <!-- Latest reviews -->
<div class="widget">
    <h3 class="widget-title">Latest reviews</h3>
    <ul class="widget-latest-reviews">
        <li>
            <a href="#">
                <img src="img/sidebar/post_1.jpg" alt="Post">
            </a>
            <h3><a href="#">Donec ut consequat nec viverra scelerisqu</a></h3>
            <div class="entry-review">
                <div class="review-stars">
                    <span class="star-full"></span>
                    <span class="star-full"></span>
                    <span class="star-full"></span>
                    <span class="star-full"></span>
                    <span class="star-empty"></span>
                </div>
            </div>
        </li>
        <li>
            <a href="#">
                <img src="~/Content/img/posts/blog_small_3.jpg" alt="Post">
            </a>
            <h3><a href="#">Donec ut consequat nec viverra scelerisqu</a></h3>
            <div class="entry-review">
                <div class="review-stars">
                    <span class="star-full"></span>
                    <span class="star-full"></span>
                    <span class="star-full"></span>
                    <span class="star-full"></span>
                    <span class="star-empty"></span>
                </div>
            </div>
        </li>
        <li>
            <a href="#">
                <img src="~/Content/img/posts/travel_small_2.jpg" alt="Post">
            </a>
            <h3><a href="#">Donec ut consequat nec viverra scelerisqu</a></h3>
            <div class="entry-review">
                <div class="review-stars">
                    <span class="star-full"></span>
                    <span class="star-full"></span>
                    <span class="star-full"></span>
                    <span class="star-full"></span>
                    <span class="star-empty"></span>
                </div>
            </div>
        </li>
        <li>
            <a href="#">
                <img src="~/Content/img/posts/fashion_small_1.jpg" alt="Post">
            </a>
            <h3><a href="#">Donec ut consequat nec viverra scelerisqu</a></h3>
            <div class="entry-review">
                <div class="review-stars">
                    <span class="star-full"></span>
                    <span class="star-full"></span>
                    <span class="star-full"></span>
                    <span class="star-full"></span>
                    <span class="star-empty"></span>
                </div>
            </div>
        </li>
    </ul>
</div>