<!doctype html>
<html>

<!-- Mirrored from codeostudio.hr/premium/themeforest/imagpress/index-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 02 Nov 2016 16:49:58 GMT -->
<head>

    <!-- Page title -->
    <title>guitar</title>
    <!-- Meta description -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
    <meta name="description" content=" " />
    <meta name="keywords" content=" " />
    <meta name="author" content=" " />

    <!-- Stylesheet -->
    <link href="~/Content/fontEnd/css/style.css" rel="stylesheet" />
    <link href="~/Content/fontEnd/css/layout.css" rel="stylesheet" />
    <link href="~/Content/fontEnd/css/awesome.css" rel="stylesheet" />
    <link href="~/Content/fontEnd/css/lightbox.css" rel="stylesheet" />
    <link href="~/Content/fontEnd/css/grid.css" rel="stylesheet" />
    <link href="~/Content/fontEnd/css/red.css" rel="stylesheet" />
    <link href="~/Content/fontEnd/css/backgrounds.css" rel="stylesheet" />
    <link href="~/Content/fontEnd/css/fonts.css" rel="stylesheet" />    
    <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700' rel='stylesheet' type='text/css'>
</head>

<!-- Body -->
<body>
    <!-- Top bar -->
    <div id="top-bar">
        <!-- Menu -->
        <ul class="top-menu">
            <li><a href="/Home/index">Home</a></li>
            <li><a href="short-typography.html">Shortcodes</a></li>
            <li><a href="/Contact/index">Contact</a></li>
        </ul>
        <!-- Social icons -->
        <ul class="social-icons">
            <li class="twitter"><a href="http://www.twitter.com/" target="_blank"><i class="icon-twitter"></i></a></li>
            <li class="facebook"><a href="http://www.facebook.com/" target="_blank"><i class="icon-facebook"></i></a></li>
            <li class="dribbble"><a href="http://www.dribbble.com/" target="_blank"><i class="icon-dribbble"></i></a></li>
        </ul>
    </div>

    <!-- Header -->
    <div id="header">
        <!-- Logo -->
        <div id="logo">
            <a href="/Home/index">
                <img src="~/Content/img/iMagPress.png" alt="iMagPress" /></a>
        </div>
        <!-- Navigation -->
        <div class="menu-wrap">
            <a class="click-to-open-menu"><i class="icon-reorder"></i></a>
            <ul class="primary-navigation">
                <li>
                    <a href="/Home/index" class="current">Home</a>
                </li>
                <li><a href="/Blog/index">Bài Giảng</a>
                    <ul>
                        <li><a href="#">Guitar Đệm Hát</a></li>
                        <li><a href="#">Cổ Điển</a></li>
                        <li><a href="#">Ukulele</a></li>
                        <li><a href="#">Finger Style</a></li>
                    </ul>
                </li>
                <li><a href="#">Blog</a>
                    <ul>
                        <li><a href="#">Kinh Nghiệm-Chia Sẻ</a></li>
                        <li><a href="#">Học Đàn</a></li>
                        <li><a href="#">Thông Báo</a></li>
                    </ul>
                </li>
                <li><a href="page-contact.html">Pages</a>
                    <ul>
                        <li><a href="/Contact/index">Contact</a></li>
                        <li><a href="page-left-sidebar.html">Left sidebar</a></li>
                        <li><a href="page-full-width.html">Full width</a></li>
                        <li><a href="page-full-width-no-bg.html">Full width no background</a></li>
                        <li><a href="/Page_404/index">404 Page</a></li>
                    </ul>
                </li>
                <li><a href="short-typography.html">Shortcodes</a></li>
            </ul>
        </div>
        <!-- Search bar -->
        <form id="search-box">
            <input type="text" class="search-field" placeholder="Search..." />
            <a href="#"><i class="icon-search"></i></a>
        </form>
    </div>
    <div class="wrap-container">
        @RenderBody()
    </div>
    
    <!-- Footer -->
    <div id="footer">
        <div class="container">
            <!-- Popular posts -->
            <div class="widget col3">
                <h3 class="widget-title">Popular posts</h3>
                <ul class="widget-popular-posts">
                    <li>
                        <a href="#">
                            <img src="~/Content/img/posts/fashion_small_5.jpg" alt="image" /></a>
                        <h3><a href="#">'Call of Duty' is about to celebrate 10 years</a></h3>
                        <div class="entry-meta">
                            <div class="description-em">
                                <span class="by-category"><a href="#">Games</a></span>
                                <span class="by-view-number">13</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/Content/img/posts/fashion_small_1.jpg" alt="image" /></a>
                        <h3><a href="#">All the best recipes with autumn fruits</a></h3>
                        <div class="entry-meta">
                            <div class="description-em">
                                <span class="by-category"><a href="#">Lifestyle</a></span>
                                <span class="by-view-number">36</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/Content/img/posts/blog_small_4.jpg" alt="image" /></a>
                        <h3><a href="#">The Caribbean islands and what we recommend</a></h3>
                        <div class="entry-meta">
                            <div class="description-em">
                                <span class="by-category"><a href="#">Travel</a></span>
                                <span class="by-view-number">2</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- Latest reviews -->
            <div class="widget col3">
                <h3 class="widget-title">Latest reviews</h3>
                <ul class="widget-latest-reviews">
                    <li>
                        <a href="#">
                            <img src="~/Content/img/posts/travel_small_5.jpg" alt="image" /></a>
                        <h3><a href="#">Online retailer predicts 'mobile Christmas'</a></h3>
                        <div class="entry-meta">
                            <div class="review-stars">
                                <span class="star-full"></span>
                                <span class="star-full"></span>
                                <span class="star-full"></span>
                                <span class="star-half"></span>
                                <span class="star-empty"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/Content/img/posts/fashion_small_4.jpg" alt="image" /></a>
                        <h3><a href="#">OneRepublic shoot to the top of the charts</a></h3>
                        <div class="entry-meta">
                            <div class="review-stars">
                                <span class="star-full"></span>
                                <span class="star-full"></span>
                                <span class="star-full"></span>
                                <span class="star-full"></span>
                                <span class="star-full"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/Content/img/posts/travel_small_2.jpg" alt="image" /></a>
                        <h3><a href="#">Patel appoints competition commissioner</a></h3>
                        <div class="entry-meta">
                            <div class="review-stars">
                                <span class="star-full"></span>
                                <span class="star-half"></span>
                                <span class="star-empty"></span>
                                <span class="star-empty"></span>
                                <span class="star-empty"></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- Tags -->
            <div class="widget col3">
                <h3 class="widget-title">Popular tags</h3>
                <div class="tagcloud">
                    <a href="#">mobile</a>
                    <a href="#">design</a>
                    <a href="#">technology</a>
                    <a href="#">sport</a>
                    <a href="#">photography</a>
                    <a href="#">fashion</a>
                    <a href="#">travel</a>
                    <a href="#">food</a>
                    <a href="#">business</a>
                    <a href="#">games</a>
                    <a href="#">tutorials</a>
                    <a href="#">modern</a>
                    <a href="#">art</a>
                    <a href="#">recreation</a>
                </div>
            </div>
            <!-- Text -->
            <div class="widget col3 last">
                <h3 class="widget-title">About iMagPress</h3>
                <div class="widget-text">
                    <p>iMagPress is responsive magazine theme with great user experience, both desktop and mobile with solid code and awesome usability.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Copyright -->
    <div id="copyright">
        <div class="container">
            <!-- Copyright block -->
            <div class="copyright-block">
                <p>&copy; 2013 <a href="http://themeforest.net/user/Voodoo-pixel?ref=Voodoo-pixel" target="_blank">iMagPress</a>. All Rights Reserved.</p>
                <p class="disclaimer">iMagPress is not responsible for, and expressly disclaims all liability for, damages of any kind arising out of use, reference to, or reliance on any information contained within the site. This web site is for demo purpose ONLY, informations provided in this web site are finctional.</p>
            </div>
            <!-- Back to top -->
            <div id="back-to-top"><a><i class="icon-chevron-up"></i></a></div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="~/Content/fontEnd/js/jquery-2.0.3.min.js"></script>
    <script src="~/Content/fontEnd/js/jquery.custom.js"></script> 
       
</body>
</html>
