@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/frontEnd/index.cshtml";
}
<!-- main slider -->
    <div id="slider-container">
        <div class="container">
            <!-- Slides MUST BE 5 -->
            <div class="bx-wrapper" style="max-width: 100%;">
                <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 500px;">
                    <ul id="featured-slider" style="width: 715%; position: relative; left: -800px;">
                        <li class="bx-clone typical_slide">
                            <a href="#">
                                <img src="~/Content/img/slider/slider_5.jpg" title="Healthy eating starts with learning new ways to eat.">
                            </a>
                            <div class="bx-caption">
                                <span>Healthy eating starts with learning new ways to eat.</span>
                            </div>
                        </li>
                        <li class="typical_slide">
                            <a href="#">
                                <img src="~/Content/img/slider/slider_1.jpg" title="Men's jumpers 10 different looks – in pictures.">
                            </a>
                            <div class="bx-caption">
                                <span>Men's jumpers 10 different looks – in pictures.</span>
                            </div>
                        </li>
                        <li class="typical_slide">
                            <div class="fluid-width-video-wrapper" style="padding-top: 62.5%;">
                                <iframe src="//player.vimeo.com/video/56974716?title=0&amp;byline=0&amp;portrait=0&amp;color=e74c3c" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" id="fitvid468063"></iframe>
                            </div>
                        </li>
                        <li class="typical_slide">
                            <a href="#">
                                <img src="~/Content/img/slider/slider_3.jpg" title="Tickets for Glastonbury 2014 have now Sold Out.">
                            </a>
                            <div class="bx-caption">
                                <span>Tickets for Glastonbury 2014 have now Sold Out.</span>
                            </div>
                        </li>
                        <li class="typical_slide">
                            <a href="#">
                                <img src="~/Content/img/slider/slider_4.jpg" title="Improving your eating habits will contribute to you achieving and maintaining a healthy weight.">
                            </a>
                            <div class="bx-caption">
                                <span>Improving your eating habits will contribute to you achieving and maintaining a healthy weight.</span>
                            </div>
                        </li>
                        <li class="typical_slide">
                            <a href="#">
                                <img src="~/Content/img/slider/slider_5.jpg" title="Healthy eating starts with learning new ways to eat.">
                            </a>
                            <div class="bx-caption">
                                <span>Healthy eating starts with learning new ways to eat.</span>
                            </div>
                        </li>
                        <li class="bx-clone typical_slide">
                            <a href="#">
                                <img src="~/Content/img/slider/slider_1.jpg" title="Men's jumpers 10 different looks – in pictures.">
                            </a>
                            <div class="bx-caption">
                                <span>Men's jumpers 10 different looks – in pictures.</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="bx-controls"></div>
            </div>
            <!-- Tabs for slides MUST BE 5 -->
            <div id="featured-slider-pager">
                <a data-slide-index="0" href="" class="active">
                    <img src="~/Content/img/slider/slider_small_1.jpg" alt="Image">
                    <h3>Men's jumpers 10 different looks – in pictures.</h3>
                    <div class="entry-meta">
                        <div class="review-stars">
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-half"></span>
                        </div>
                        <div class="description-em">
                            <span class="by-view-number">13</span>
                            <span class="by-date">1 day ago</span>
                        </div>
                    </div>
                </a>
                <a data-slide-index="1" href="">
                    <img src="~/Content/img/slider/slider_small_2.jpg" alt="Image">
                    <h3>Mauris urna lorem molestie vestibulum est congue egestas mauris.</h3>
                    <div class="entry-meta">
                        <div class="review-stars">
                            <span class="star-full"></span>
                            <span class="star-half"></span>
                            <span class="star-empty"></span>
                            <span class="star-empty"></span>
                            <span class="star-empty"></span>
                        </div>
                        <div class="description-em">
                            <span class="by-view-number">47</span>
                            <span class="by-date">3 days ago</span>
                        </div>
                    </div>
                </a>
                <a data-slide-index="2" href="">
                    <img src="~/Content/img/slider/slider_small_3.jpg" alt="Image">
                    <h3>Tickets for Glastonbury 2014 have now Sold Out.</h3>
                    <div class="entry-meta">
                        <div class="review-stars">
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                        </div>
                        <div class="description-em">
                            <span class="by-view-number">406</span>
                            <span class="by-date">1 day ago</span>
                        </div>
                    </div>
                </a>
                <a data-slide-index="3" href="">
                    <img src="~/Content/img/slider/slider_small_4.jpg" alt="Image">
                    <h3>Improving your eating habits will contribute to you achieving and maintaining a healthy weight.</h3>
                    <div class="entry-meta">
                        <div class="review-stars">
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-half"></span>
                            <span class="star-empty"></span>
                            <span class="star-empty"></span>
                        </div>
                        <div class="description-em">
                            <span class="by-view-number">16</span>
                            <span class="by-date">2 days ago</span>
                        </div>
                    </div>
                </a>
                <a data-slide-index="4" href="">
                    <img src="~/Content/img/slider/slider_small_5.jpg" alt="Image">
                    <h3>Healthy eating starts with learning new ways to eat.</h3>
                    <div class="entry-meta">
                        <div class="review-stars">
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-half"></span>
                        </div>
                        <div class="description-em">
                            <span class="by-view-number">187</span>
                            <span class="by-date">1 week ago</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <!-- content -->
    <div class="container">
        <!-- Primary left -->
        <div id="primary-left">
            <!-- Article standard -->
            <div class="article-standard">
                <div class="post-image">
                    <img src="~/Content/img/posts/blog_post_3.jpg" alt="Post">
                    <ol class="social-links">
                        <li><a href="#"><i class="icon-link"></i></a></li>
                        <li><a href="~/Content/img/posts/blog_post_3.jpg" rel="lightbox"><i class="icon-search"></i></a></li>
                    </ol>
                </div>
                <div class="entry-content">
                    <h1 class="entry-title"><a href="#">Post with image and text paragraph</a></h1>
                    <div class="entry-meta">
                        <div class="review-stars">
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                        </div>
                        <div class="description-em">
                            <span class="by-view-number">132</span>
                            <span class="by-date">1 day ago</span>
                            <span class="by-comments"><a href="#">42</a></span>
                        </div>
                    </div>
                    <p>Hooking up with Double Identity for another sic collab shoe. The last one already rockin these new ones out and about. Eget nunc nunc.</p>
                    <a href="#" class="read-more">Read more</a>
                    <span class="format-post"><i class="icon-file-text-alt"></i></span>
                </div>
            </div>
            <!-- Article standard -->
            <div class="article-standard">
                <div class="post-image">
                    <img src="~/Content/img/posts/blog_post_2.jpg" alt="Post">
                    <ol class="social-links">
                        <li><a href="#"><i class="icon-link"></i></a></li>
                        <li><a href="~/Content/img/posts/blog_post_2.jpg" rel="lightbox"><i class="icon-search"></i></a></li>
                    </ol>
                </div>
                <div class="entry-content">
                    <h1 class="entry-title"><a href="#">Post with slider images and text</a></h1>
                    <div class="entry-meta">
                        <div class="review-stars">
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                        </div>
                        <div class="description-em">
                            <span class="by-view-number">132</span>
                            <span class="by-date">1 day ago</span>
                            <span class="by-comments"><a href="#">42</a></span>
                        </div>
                    </div>
                    <p>Hooking up with Double Identity for another sic collab shoe. The last one already rockin these new ones out and about. Eget nunc nunc.</p>
                    <a href="#" class="read-more">Read more</a>
                    <span class="format-post"><i class="icon-camera"></i></span>
                </div>
            </div>
            <!-- Article standard -->
            <div class="article-standard">
                <div class="post-video">
                    <div class="fluid-width-video-wrapper" style="padding-top: 85.7143%;">
                        <iframe src="//player.vimeo.com/video/56974716?title=0&amp;byline=0&amp;portrait=0&amp;color=e74c3c" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" id="fitvid158209"></iframe>
                    </div>
                </div>
                <div class="entry-content">
                    <h1 class="entry-title"><a href="#">Post with Vimeo video clip and text</a></h1>
                    <div class="entry-meta">
                        <div class="review-stars">
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                        </div>
                        <div class="description-em">
                            <span class="by-view-number">132</span>
                            <span class="by-date">1 day ago</span>
                            <span class="by-comments"><a href="#">42</a></span>
                        </div>
                    </div>
                    <p>Hooking up with Double Identity for another sic collab shoe. The last one already rockin these new ones out and about. Eget nunc nunc.</p>
                    <a href="#" class="read-more">Read more</a>
                    <span class="format-post"><i class="icon-play-sign"></i></span>
                </div>
            </div>
            <!-- Article standard -->
            <div class="article-standard">
                <div class="post-image">
                    <img src="~/Content/img/posts/blog_post_4.jpg" alt="Post">
                    <ol class="social-links">
                        <li><a href="#"><i class="icon-link"></i></a></li>
                        <li><a href="~/Content/img/posts/blog_post_4.jpg" rel="lightbox"><i class="icon-search"></i></a></li>
                    </ol>
                </div>
                <div class="entry-content">
                    <h1 class="entry-title"><a href="#">Post with Soundcloud music</a></h1>
                    <div class="entry-meta">
                        <div class="review-stars">
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                        </div>
                        <div class="description-em">
                            <span class="by-view-number">132</span>
                            <span class="by-date">1 day ago</span>
                            <span class="by-comments"><a href="#">42</a></span>
                        </div>
                    </div>
                    <p>Hooking up with Double Identity for another sic collab shoe. The last one already rockin these new ones out and about. Eget nunc nunc.</p>
                    <a href="#" class="read-more">Read more</a>
                    <span class="format-post"><i class="icon-music"></i></span>
                </div>
            </div>
            <!-- Article standard -->
            <div class="article-standard post-with-no-image">
                <div class="entry-content">
                    <h1 class="entry-title"><a href="#">Post with no image</a></h1>
                    <div class="entry-meta">
                        <div class="review-stars">
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                            <span class="star-full"></span>
                        </div>
                        <div class="description-em">
                            <span class="by-view-number">132</span>
                            <span class="by-date">1 day ago</span>
                            <span class="by-comments"><a href="#">42</a></span>
                        </div>
                    </div>
                    <p>Sed quis cursus libero. Nunc eget tortor sagittis, tempor purus in, aliquam velit. Proin rutrum placerat purus, eget scelerisque ipsum sollicitudin sit amet. Suspendisse nec lorem sit amet tellus facilisis porta vel vitae erat. Integer nunc nunc, egestas quis libero malesuada, convallis suscipit magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla id iaculis lectus, eu semper justo. In nec eros a dolor varius congue at sit amet diam. Sed consequat eros sit amet magna commodo, vitae varius diam malesuada.</p>
                    <a href="#" class="read-more">Read more</a>
                    <span class="format-post"><i class="icon-file-text-alt"></i></span>
                </div>
            </div>

            <!-- Clear floating div -->
            <div class="clear"></div>
        </div>
        <!-- sidebar -->
        <div id="sidebar">
            <!-- Social profile -->
            <div class="widget no-bg">
                <ul class="widget-social-profile">
                    <li class="twitter">
                        <a href="#">
                            <i class="icon-twitter"></i>
                            <strong>29,272</strong>
                            <span>followers</span>
                        </a>
                    </li>
                    <li class="facebook">
                        <a href="#">
                            <i class="icon-facebook"></i>
                            <strong>6,072</strong>
                            <span>fans</span>
                        </a>
                    </li>
                    <li class="rss">
                        <a href="#">
                            <i class="icon-rss"></i>
                            <strong>112,054</strong>
                            <span>subscribers</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Slider -->
            <div class="widget">
                <div class="widget-slider">
                    <div class="bx-wrapper" style="max-width: 100%; margin: 0px auto;">
                        <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 200px;">
                            <ul style="width: 515%; position: relative; transition-duration: 0s; transform: translate3d(-300px, 0px, 0px);">
                                <li style="float: left; list-style: none; position: relative; width: 300px;" class="bx-clone"><a href="#">
                                    <img src="~/Content/img/posts/quad_post_6.jpg" alt="Image" title="Woow - caption!"></a><div class="bx-caption"><span>Woow - caption!</span></div>
                                </li>
                                <li style="float: left; list-style: none; position: relative; width: 300px;"><a href="#">
                                    <img src="~/Content/img/posts/quad_post_5.jpg" alt="Image" title="This is title caption"></a><div class="bx-caption"><span>This is title caption</span></div>
                                </li>
                                <li style="float: left; list-style: none; position: relative; width: 300px;"><a href="#">
                                    <img src="~/Content/img/posts/quad_post_2.jpg" alt="Image" title="Another caption"></a><div class="bx-caption"><span>Another caption</span></div>
                                </li>
                                <li style="float: left; list-style: none; position: relative; width: 300px;"><a href="#">
                                    <img src="~/Content/img/posts/quad_post_6.jpg" alt="Image" title="Woow - caption!"></a><div class="bx-caption"><span>Woow - caption!</span></div>
                                </li>
                                <li style="float: left; list-style: none; position: relative; width: 300px;" class="bx-clone"><a href="#">
                                    <img src="~/Content/img/posts/quad_post_5.jpg" alt="Image" title="This is title caption"></a><div class="bx-caption"><span>This is title caption</span></div>
                                </li>
                            </ul>
                        </div>
                        <div class="bx-controls bx-has-controls-direction">
                            <div class="bx-controls-direction"><a class="bx-prev" href=""></a><a class="bx-next" href=""></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Latest reviews -->
            <div class="widget">
                <h3 class="widget-title">Latest reviews</h3>
                <ul class="widget-latest-reviews">
                    <li>
                        <a href="#">
                            <img src="img/sidebar/post_1.jpg" alt="Post"></a>
                        <h3><a href="#">Donec ut consequat nec viverra scelerisqu</a></h3>
                        <div class="entry-review">
                            <div class="review-stars">
                                <span class="star-full"></span>
                                <span class="star-full"></span>
                                <span class="star-full"></span>
                                <span class="star-full"></span>
                                <span class="star-empty"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/Content/img/posts/blog_small_3.jpg" alt="Post"></a>
                        <h3><a href="#">Donec ut consequat nec viverra scelerisqu</a></h3>
                        <div class="entry-review">
                            <div class="review-stars">
                                <span class="star-full"></span>
                                <span class="star-full"></span>
                                <span class="star-full"></span>
                                <span class="star-full"></span>
                                <span class="star-empty"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/Content/img/posts/travel_small_2.jpg" alt="Post"></a>
                        <h3><a href="#">Donec ut consequat nec viverra scelerisqu</a></h3>
                        <div class="entry-review">
                            <div class="review-stars">
                                <span class="star-full"></span>
                                <span class="star-full"></span>
                                <span class="star-full"></span>
                                <span class="star-full"></span>
                                <span class="star-empty"></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#">
                            <img src="~/Content/img/posts/fashion_small_1.jpg" alt="Post"></a>
                        <h3><a href="#">Donec ut consequat nec viverra scelerisqu</a></h3>
                        <div class="entry-review">
                            <div class="review-stars">
                                <span class="star-full"></span>
                                <span class="star-full"></span>
                                <span class="star-full"></span>
                                <span class="star-full"></span>
                                <span class="star-empty"></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- Category -->
            <div class="widget">
                <h3 class="widget-title">Category</h3>
                <ul class="widget-category">
                    <li><a href="#">Technology</a><span>6</span></li>
                    <li><a href="#">Travel</a><span>13</span></li>
                    <li><a href="#">Design</a><span>2</span></li>
                    <li><a href="#">Fashion</a><span>45</span></li>
                    <li><a href="#">Lifestyle</a><span>31</span></li>
                </ul>
            </div>
            <!-- Ad 300x250 -->
            <div class="widget">
                <h3 class="widget-title">Advertising 300x250</h3>
                <div class="widget-300x250ad">
                    <img src="~/Content/img/banners/300x250.gif" alt="Image">
                </div>
            </div>
        </div>
    </div>

    <!-- Featured carousel -->
    <div id="carousel-container">
        <div id="featured-carousel">
            <!-- Article carousel -->
            <div class="article-standard">
                <div class="post-image">
                    <img src="~/Content/img/posts/blog_post_3.jpg" alt="Post" />
                    <ol class="social-links">
                        <li><a href="#"><i class="icon-link"></i></a></li>
                        <li><a href="~/Content/img/posts/blog_post_3.jpg" rel="lightbox"><i class="icon-search"></i></a></li>
                    </ol>
                </div>
                <div class="entry-content">
                    <h1 class="entry-title"><a href="#">Creators launch new project on Kickstarter</a></h1>
                    <div class="review-stars">
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-half"></span>
                        <span class="star-empty"></span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <a href="#" class="read-more">Read more</a>
                    <div class="entry-meta">
                        <span class="by-category"><a href="#">Fashion</a></span>
                        <span class="by-comments"><a href="#">13</a></span>
                    </div>
                </div>
            </div>
            <!-- Article carousel -->
            <div class="article-standard">
                <div class="post-image">
                    <img src="~/Content/img/posts/blog_post_1.jpg" alt="Post" />
                    <ol class="social-links">
                        <li><a href="#"><i class="icon-link"></i></a></li>
                        <li><a href="~/Content/img/posts/blog_post_1.jpg" rel="lightbox"><i class="icon-search"></i></a></li>
                    </ol>
                </div>
                <div class="entry-content">
                    <h1 class="entry-title"><a href="#">Nam mattis nisi neque vulputate auctor</a></h1>
                    <div class="review-stars">
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-half"></span>
                        <span class="star-empty"></span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <a href="#" class="read-more">Read more</a>
                    <div class="entry-meta">
                        <span class="by-category"><a href="#">Fashion</a></span>
                        <span class="by-comments"><a href="#">13</a></span>
                    </div>
                </div>
            </div>
            <!-- Article carousel -->
            <div class="article-standard">
                <div class="post-image">
                    <img src="~/Content/img/posts/blog_post_2.jpg" alt="Post" />
                    <ol class="social-links">
                        <li><a href="#"><i class="icon-link"></i></a></li>
                        <li><a href="~/Content/img/posts/blog_post_2.jpg" rel="lightbox"><i class="icon-search"></i></a></li>
                    </ol>
                </div>
                <div class="entry-content">
                    <h1 class="entry-title"><a href="#">Fusce tellus nisi, semper et erat et accumsan</a></h1>
                    <div class="review-stars">
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-half"></span>
                        <span class="star-empty"></span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <a href="#" class="read-more">Read more</a>
                    <div class="entry-meta">
                        <span class="by-category"><a href="#">Fashion</a></span>
                        <span class="by-comments"><a href="#">13</a></span>
                    </div>
                </div>
            </div>
            <!-- Article carousel -->
            <div class="article-standard">
                <div class="post-image">
                    <img src="~/Content/img/posts/blog_post_4.jpg" alt="Post" />
                    <ol class="social-links">
                        <li><a href="#"><i class="icon-link"></i></a></li>
                        <li><a href="~/Content/img/posts/blog_post_4.jpg" rel="lightbox"><i class="icon-search"></i></a></li>
                    </ol>
                </div>
                <div class="entry-content">
                    <h1 class="entry-title"><a href="#">Donec dignissim sit amet justo a egestas</a></h1>
                    <div class="review-stars">
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-full"></span>
                        <span class="star-half"></span>
                        <span class="star-empty"></span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <a href="#" class="read-more">Read more</a>
                    <div class="entry-meta">
                        <span class="by-category"><a href="#">Fashion</a></span>
                        <span class="by-comments"><a href="#">13</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <!-- Clear floating div -->
        <div class="clear"></div>
        <!-- Pagination -->
        <ul class="pagination col3">
            <li class="prev disabled">PREV</li>
            <li class="current">1</li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li class="next"><a href="#">NEXT</a></li>
        </ul>
    </div>
