@model List<Models.Framework.GiaiDieu>
<li>
    <a href="@Url.Action("Index", "Home")">Giai Điệu</a>
    <ul>
        
        
            <li><a href="#">TenGiaiDieu</a></li>
        
    </ul>
</li>
