@model List<Models.Framework.GiaiDieu>
<div class="widget">
    <h3 class="widget-title">Giai Điệu</h3>
    <ul class="widget-category">
       @foreach (var i in Model)
       {
        <li><a href="/video/@i.MetaTile/@i.MaGiaiDieu">@i.TenGiaiDieu</a></li>
       }
    </ul>
</div>
