<li>
    <a href="@Url.Action("Index","Lesson")">Bài Giảng</a>
    <ul>
        <li><a href="#">Guitar Đệm Hát</a></li>
        <li><a href="#">Cổ Điển</a></li>
        <li><a href="#">Ukulele</a></li>
        <li><a href="#">Finger Style</a></li>
    </ul>
</li>
    
