@model Models.Framework.Video
@{
    ViewBag.Title = @Model.Tenvideo;
    Layout = "~/Views/Shared/Shared_layout.cshtml";
}
<!-- Primary left -->
<div id="primary-left">
    <!-- Single post -->
    <div class="single-post-container">
        <!-- Video frame -->
        <iframe src="@Model.Link" width="800" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <!-- Entry content -->
        <div class="entry-content">
            <h1 class="entry-title">Cetero comprehensam ad mel eu legere insolens incorrupte usu cum eu deleniti insolens labore graeco</h1>
            <div class="entry-meta">
                <div class="description-em">
                    <span class="by-view-number">374</span>
                    <span class="by-category"><a href="#">Fashion</a></span>
                    <span class="by-date">6 days ago</span>
                    <span class="by-author"><a href="#">John Doe</a></span>
                    <span class="by-comments"><a href="#">26</a></span>
                </div>
            </div>
            <p>Morbi vel mi fermentum, iaculis lacus eu, dignissim lorem. Nunc a diam eget tellus vestibulum suscipit ac sit amet lectus. Vivamus vulputate magna mi, nec interdum augue consequat quis. Nullam quis vehicula nisi. Duis vitae diam egestas eros malesuada aliquam quis vitae magna. Nunc dignissim eget nibh vitae porta. Donec vestibulum, nisi in ultrices ultrices, dui metus elementum erat, quis molestie arcu nisi at quam. In hac habitasse platea dictumst. Fusce porttitor lacinia ipsum. Proin condimentum nec leo a egestas.</p>
            <blockquote>
                The purpose of art is washing the dust of daily life off our souls. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur facilisis, justo quis fringilla luctus, leo turpis adipiscing eros, sit amet ultrices velit sapien mattis mauris.
                <cite><a href="#">Pablo Picasso</a></cite>
            </blockquote>
            <p>Duis vitae diam egestas eros malesuada aliquam quis vitae magna. Nunc dignissim eget nibh vitae porta. Donec vestibulum, nisi in ultrices ultrices, dui metus elementum erat, quis molestie arcu nisi at quam. In hac habitasse platea dictumst. Fusce porttitor lacinia ipsum. Proin condimentum nec leo a egestas.</p>
            <p><span class="pullquote-left">Creativity is allowing yourself to make mistakes. Art is knowing which ones to keep.</span> Suspendisse tincidunt, purus quis vulputate vulputate, sapien dolor tempor sem, eu molestie lectus nunc at mi. Fusce semper elit vitae gravida egestas. Mauris elementum varius nulla, eget ornare ipsum pulvinar at. Pellentesque dolor odio, luctus ac luctus non, ultricies eu ipsum. Nulla diam neque, iaculis a lectus eget, consectetur dictum leo. Donec lacinia, augue eu fringilla bibendum, mauris felis tincidunt urna, et varius ipsum dolor at quam. Vivamus hendrerit arcu a elementum fermentum. Duis congue in sem sit amet ornare. Nunc luctus sed magna a scelerisque. Donec dapibus lacus non dui iaculis consectetur. Quisque in nibh gravida, fermentum urna ut, tincidunt risus. Donec vehicula nisi fermentum dolor sodales, id cursus lorem faucibus. Duis erat nibh, molestie vel massa ac, condimentum scelerisque nulla. Donec pulvinar hendrerit lorem, nec dictum orci congue pellentesque. Mauris imperdiet ut eros non gravida. Etiam a dolor odio.</p>
        </div>

        <!-- Share this article -->
        <div id="share-this-article">
            <div class="share-text">Share this article</div>
            <ul class="social-icons">
                <li class="pinterest">
                    <a href="#"><i class="icon-pinterest"></i></a>
                    <span class="count-number">42</span>
                </li>
                <li class="linkedin">
                    <a href="#"><i class="icon-linkedin"></i></a>
                    <span class="count-number">42</span>
                </li>
                <li class="googleplus">
                    <a href="#"><i class="icon-google-plus"></i></a>
                    <span class="count-number">42</span>
                </li>
                <li class="facebook">
                    <a href="#"><i class="icon-facebook"></i></a>
                    <span class="count-number">42</span>
                </li>
                <li class="twitter">
                    <a href="#"><i class="icon-twitter"></i></a>
                    <span class="count-number">42</span>
                </li>
            </ul>
        </div>

        <!-- Post controls -->
        <div id="post-controls">
            <a href="#" class="prev">
                <span>Previous</span>
                <p>The Caribbean: 7 islands and what we recommend them for and the best recipes with autumn fruits.</p>
            </a>
            <a href="#" class="next">
                <span>Next</span>
                <p>Cetero comprehensam ad mel eu legere insolens incorrupte usu cum eu deleniti insolens labore graeco.</p>
            </a>
        </div>
    </div>

    <!-- Rating overview -->
    <div id="rating-overview">
        <h4>Rating overview</h4>
        <ul class="rating-description">
            <li>
                <strong>Illustration</strong>
                <div class="review-stars">
                    <span class="star-full"></span>
                    <span class="star-full"></span>
                    <span class="star-half"></span>
                    <span class="star-empty"></span>
                    <span class="star-empty"></span>
                </div>
            </li>
            <li>
                <strong>Design</strong>
                <div class="review-stars">
                    <span class="star-full"></span>
                    <span class="star-full"></span>
                    <span class="star-full"></span>
                    <span class="star-full"></span>
                    <span class="star-empty"></span>
                </div>
            </li>
            <li>
                <strong>Photography</strong>
                <div class="review-stars">
                    <span class="star-full"></span>
                    <span class="star-half"></span>
                    <span class="star-empty"></span>
                    <span class="star-empty"></span>
                    <span class="star-empty"></span>
                </div>
            </li>
            <li>
                <strong>Interface</strong>
                <div class="review-stars">
                    <span class="star-full"></span>
                    <span class="star-full"></span>
                    <span class="star-empty"></span>
                    <span class="star-empty"></span>
                    <span class="star-empty"></span>
                </div>
            </li>
            <li>
                <strong>Quality</strong>
                <div class="review-stars">
                    <span class="star-full"></span>
                    <span class="star-full"></span>
                    <span class="star-full"></span>
                    <span class="star-full"></span>
                    <span class="star-full"></span>
                </div>
            </li>
        </ul>
        <div class="rating-score">
            <strong>Total score</strong>
            <div class="total-score">
                <strong>Excellent</strong>
                <strong class="result">4.3</strong>
            </div>
        </div>
    </div>

    <!-- Comments -->
    <div id="comments">
        <h3 id="comments-title">22 Comments</h3>
        <ol class="commentlist">
            <li class="comment">
                <article>
                    <img src="img/sidebar/avatar.jpg" alt="Avatar" class="comment-avatar" />
                    <div class="comment-meta">
                        <span class="by-author"><a href="#">John Doe</a></span>
                        <span class="by-date">September 21, 2013</span>
                    </div>
                    <div class="comment-content">
                        <p>Proin laoreet sodales porta. Mauris urna lorem, molestie vestibulum est a, congue egestas mauris. Duis ut ipsum ut sem condimentum accumsan. Praesent vitae venenatis nisl. Aliquam eget nibh sit amet mauris fermentum pretium. In ut malesuada dolor, a iaculis orci.</p>
                    </div>
                    <div class="reply"><a href="#">Reply</a></div>
                </article>
            </li>
            </article>
            <li class="comment">
                <article>
                    <img src="img/sidebar/avatar.jpg" alt="Avatar" class="comment-avatar" />
                    <div class="comment-meta">
                        <span class="by-author"><a href="#">John Doe</a></span>
                        <span class="by-date">September 21, 2013</span>
                    </div>
                    <div class="comment-content">
                        <p>Proin laoreet sodales porta. Mauris urna lorem, molestie vestibulum est a, congue egestas mauris. Duis ut ipsum ut sem condimentum accumsan. Praesent vitae venenatis nisl. Aliquam eget nibh sit amet mauris fermentum pretium. In ut malesuada dolor, a iaculis orci.</p>
                    </div>
                    <div class="reply"><a href="#">Reply</a></div>
                </article>
                <ul class="children">
                    <li class="comment">
                        <article>
                            <img src="img/sidebar/avatar.jpg" alt="Avatar" class="comment-avatar" />
                            <div class="comment-meta">
                                <span class="by-author"><a href="#">John Doe</a></span>
                                <span class="by-date">September 21, 2013</span>
                            </div>
                            <div class="comment-content">
                                <p>Proin laoreet sodales porta. Mauris urna lorem, molestie vestibulum est a, congue egestas mauris. Duis ut ipsum ut sem condimentum accumsan. Praesent vitae venenatis nisl. Aliquam eget nibh sit amet mauris fermentum pretium. In ut malesuada dolor, a iaculis orci.</p>
                            </div>
                            <div class="reply"><a href="#">Reply</a></div>
                        </article>
                    </li>
                    <li class="comment">
                        <article>
                            <img src="img/sidebar/avatar.jpg" alt="Avatar" class="comment-avatar" />
                            <div class="comment-meta">
                                <span class="by-author"><a href="#">John Doe</a></span>
                                <span class="by-date">September 21, 2013</span>
                            </div>
                            <div class="comment-content">
                                <p>Proin laoreet sodales porta. Mauris urna lorem, molestie vestibulum est a, congue egestas mauris. Duis ut ipsum ut sem condimentum accumsan. Praesent vitae venenatis nisl. Aliquam eget nibh sit amet mauris fermentum pretium. In ut malesuada dolor, a iaculis orci.</p>
                            </div>
                            <div class="reply"><a href="#">Reply</a></div>
                        </article>
                        <ul class="children">
                            <li class="comment">
                                <article>
                                    <img src="img/sidebar/avatar.jpg" alt="Avatar" class="comment-avatar" />
                                    <div class="comment-meta">
                                        <span class="by-author"><a href="#">John Doe</a></span>
                                        <span class="by-date">September 21, 2013</span>
                                    </div>
                                    <div class="comment-content">
                                        <p>Proin laoreet sodales porta. Mauris urna lorem, molestie vestibulum est a, congue egestas mauris. Duis ut ipsum ut sem condimentum accumsan. Praesent vitae venenatis nisl. Aliquam eget nibh sit amet mauris fermentum pretium. In ut malesuada dolor, a iaculis orci.</p>
                                    </div>
                                    <div class="reply"><a href="#">Reply</a></div>
                                </article>
                            </li>
                            <ul class="children">
                                <li class="comment">
                                    <article>
                                        <img src="img/sidebar/avatar.jpg" alt="Avatar" class="comment-avatar" />
                                        <div class="comment-meta">
                                            <span class="by-author"><a href="#">John Doe</a></span>
                                            <span class="by-date">September 21, 2013</span>
                                        </div>
                                        <div class="comment-content">
                                            <p>Proin laoreet sodales porta. Mauris urna lorem, molestie vestibulum est a, congue egestas mauris. Duis ut ipsum ut sem condimentum accumsan. Praesent vitae venenatis nisl. Aliquam eget nibh sit amet mauris fermentum pretium. In ut malesuada dolor, a iaculis orci.</p>
                                        </div>
                                        <div class="reply"><a href="#">Reply</a></div>
                                    </article>
                                </li>
                            </ul>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="comment">
                <article>
                    <img src="img/sidebar/avatar.jpg" alt="Avatar" class="comment-avatar" />
                    <div class="comment-meta">
                        <span class="by-author"><a href="#">John Doe</a></span>
                        <span class="by-date">September 21, 2013</span>
                    </div>
                    <div class="comment-content">
                        <p>Proin laoreet sodales porta. Mauris urna lorem, molestie vestibulum est a, congue egestas mauris. Duis ut ipsum ut sem condimentum accumsan. Praesent vitae venenatis nisl. Aliquam eget nibh sit amet mauris fermentum pretium. In ut malesuada dolor, a iaculis orci.</p>
                    </div>
                    <div class="reply"><a href="#">Reply</a></div>
                </article>
            </li>
        </ol>
    </div>

    <!-- Respons -->
    <div id="respond-comments">
        <h3 id="leave-a-reply">Leave a Reply</h3>
        <p class="comment-notes">Your email address will not be published. Required fields are marked <span>*</span></p>
        <p class="comment-form-author">
            <label>Name <span>*</span></label>
            <input type="text" />
        </p>
        <p class="comment-form-email">
            <label>E-mail <span>*</span></label>
            <input type="text" />
        </p>
        <div class="clear"></div>
        <p class="comment-form-url">
            <label>Website</label>
            <input type="text" />
        </p>
        <p class="comment-form-comment">
            <label>Comment</label>
            <textarea></textarea>
        </p>
        <p class="form-submit">
            <input type="submit" value="Post Comment" />
        </p>
    </div>

</div>

<!-- Sidebar -->
<div id="sidebar">
    <!-- Social profile -->
    <div class="widget no-bg">
        <ul class="widget-social-profile">
            <li class="twitter">
                <a href="#">
                    <i class="icon-twitter"></i>
                    <strong>29,272</strong>
                    <span>followers</span>
                </a>
            </li>
            <li class="facebook">
                <a href="#">
                    <i class="icon-facebook"></i>
                    <strong>6,072</strong>
                    <span>fans</span>
                </a>
            </li>
            <li class="rss">
                <a href="#">
                    <i class="icon-rss"></i>
                    <strong>112,054</strong>
                    <span>subscribers</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- Popular posts -->
    <div class="widget">
        <h3 class="widget-title">Popular posts</h3>
        <ul class="widget-popular-posts">
            <li>
                <a href="#"><img src="img/sidebar/post_1.jpg" alt="Post" /></a>
                <h3><a href="#">Donec ut consequat nec viverra scelerisqu</a></h3>
                <div class="entry-meta">
                    <div class="description-em">
                        <span class="by-category"><a href="#">Travel</a></span>
                        <span class="by-view-number">132</span>
                    </div>
                </div>
            </li>
            <li>
                <a href="#"><img src="img/posts/fashion_small_5.jpg" alt="Post" /></a>
                <h3><a href="#">Donec ut consequat nec viverra scelerisqu</a></h3>
                <div class="entry-meta">
                    <div class="description-em">
                        <span class="by-category"><a href="#">Games</a></span>
                        <span class="by-view-number">132</span>
                    </div>
                </div>
            </li>
            <li>
                <a href="#"><img src="img/posts/travel_small_1.jpg" alt="Post" /></a>
                <h3><a href="#">Donec ut consequat nec viverra scelerisqu</a></h3>
                <div class="entry-meta">
                    <div class="description-em">
                        <span class="by-category"><a href="#">Travel</a></span>
                        <span class="by-view-number">132</span>
                    </div>
                </div>
            </li>
            <li>
                <a href="#"><img src="img/posts/fashion_small_3.jpg" alt="Post" /></a>
                <h3><a href="#">Donec ut consequat nec viverra scelerisqu</a></h3>
                <div class="entry-meta">
                    <div class="description-em">
                        <span class="by-category"><a href="#">Fashion</a></span>
                        <span class="by-view-number">132</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- Flickr -->
    <div class="widget">
        <h3 class="widget-title">Flickr <span><a href="http://www.flickr.com/" target="_blank"><i class="icon-flickr"></i></a></span></h3>
        <ul class="widget-flickr"></ul>
    </div>
    <!-- Category -->
    @{Html.RenderAction("tunesCategory", "Home");}
    <!-- Tags -->
    <div class="widget">
        <h3 class="widget-title">Popular tags</h3>
        <div class="tagcloud">
            <a href="#">volutpat</a>
            <a href="#">suscipit</a>
            <a href="#">fermentum tincidunt</a>
            <a href="#">hendrerit</a>
            <a href="#">sed</a>
            <a href="#">vulputate</a>
            <a href="#">ipsum</a>
        </div>
    </div>
    <!-- Ad 300x250 -->
    <div class="widget">
        <h3 class="widget-title">Advertising 300x250</h3>
        <div class="widget-300x250ad"><img src="img/banners/300x250.gif" alt="Image" /></div>
    </div>
</div>

