@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/frontEnd/index.cshtml";
}

<div class="container">
  	<!-- Primary fullwidth -->
    <div id="primary-fullwidth">
    	<!-- Blank page container -->
        <div class="blank-page-container">
        	<div id="page-404">
            	<h3>404</h3>
                <h4>The page you are looking for<br>has been moved or doesn't exist anymore!</h4>
                <p>But don’t worry, it can happen to the best of us - and it just happened to you!<br>
                You can back to home page or read this text one more time.</p>
                <a href="/Home/index" class="button colored">Back to home</a>
            </div>
        </div>
	</div>
  	<!-- Sidebar -->
  	<div id="sidebar"></div>
</div>
